[2016-01-19 18:59] f0rer0 opened #1 "Tartini move"
I know we’re still standing up the new Monarch, but I wanted to start the conversation around what we have to do to move the last machine (tartini) from UCSD to OHSU.

Is there someone we should be talking to about preparing for this move?

Do we have a tentative timeline for when we want this to happen?

[2016-01-19 19:01] mellybelly commented on #1
@jgrethe what do we need to do to get things shipped?
Probably in the next few weeks would be ideal as I am sure that Jeff would like to be done with the move.

[2016-01-19 19:10] jgrethe commented on #1
Hi Melissa,
Will need to bring Vicky in on this (cc’d above).  There are three things:

1) In terms of getting things shipped - the staff at UCSD will need to unrack and pack the machine for shipping (Vicky anything special that needs to be done here?).

2) In terms of the actual shipment - OHSU will need to contract with a shipper to pick up the machine and deliver it to the facility.

3) In term

[2016-01-19 20:55] jnguyenx opened #2 "Additional VMs for Dev and Beta environments"
For the Beta environment, only one VM is needed:
* monarch-app-beta

For the Dev:
* monarch-solr-dev
* scigraph-ontology-dev
* scigraph-data-dev

We'll need a dedicated machine for loading data, that's a long and hungry process.
* monarch-data-load,(500GB minimum ( or 1TB to be confortable) & as much CPU and RAM possible

[2016-01-19 22:36] vanmatre commented on #2
Are these VM in addition to the 4 "stage" VM we talked about friday?

[2016-01-19 22:58] jnguyenx commented on #2
No, those 5 VMs are what we need for our beta+dev environment.

Basically we renamed stage to beta, beta to dev and slimmed down the beta
to a single VM.

On Tue, Jan 19, 2016 at 2:36 PM, vanmatre <notifications@github.com> wrote:

[2016-01-20 03:36] jgrethe commented on #1
Monarch Team,

Tartini is with the vendor at the moment for repair, due to be returned tomorrow.  I’m sure, for a fee, they would be happy to pack up the server and ship it to you, instead.

I know they reinstalled the operating system, so it’s all ready for you to have your way with it.  :-D

--
Vicky Rowley

IT Manager
Center for Research in Biological Systems, and the
National Center for Micros

[2016-01-20 17:01] f0rer0 commented on #1
If the machine is already offline, then perhaps the best thing is to move it to OHSU now.

Does anyone see any problems with doing this?

David Forero
Technology Director of the Library
Oregon Health and Science University
(503) 494-8692

[2016-01-22 18:26] jnguyenx opened #3 "Create owl + ttl archives for each monarch-app release"
For reproducibility we want to save those files so we can regenerate our whole data set. With that we'll be also able to point people to this data set.

The archive can live in:

http://monarch3-2.cslu.ohsu.edu/static_files/monarch/

There should be a step prior to a SciGraph load to copy the current ttls to a specific folder, and also create owls (typically for monarch.owl).

[2016-01-22 23:40] nlwashington commented on #3
and then data.monarchinitiative.org and/or archive.monarchinitiative.org will point here, right?

[2016-01-22 23:53] jnguyenx commented on #3
Yep that's the plan.

On Fri, Jan 22, 2016 at 3:41 PM, Nicole Washington <notifications@github.com

[2016-01-25 18:02] vanmatre commented on #2
All additional VM have been created. Their external address have been entered into DNS. In addition there are 2 more entries in DNS: vm-monitor.monarchinitiative.org and ohsu-www.monarchinitiative.org which is a cname for monarch-app-prod.

vm-monitor.monarchinitiative.org/ganglia and .../nagios are active. Let me know if you want a nagios login.

Attached please find a spreadsheet of the VM, thei

[2016-01-25 18:36] cmungall commented on #2
Thanks for the spreadsheet @vanmatre -- should we track this using git, dropbox, ...?

[2016-01-25 22:20] jnguyenx opened #4 "Migrate domain name to OHSU servers"
Note: I'm still having some issues with nginx

http://monarchinitiative.org = http://monarch1-1.cslu.ohsu.edu

http://owlsim.monarchinitiative.org = http://monarch1-1.cslu.ohsu.edu/owlsim/

http://solr.monarchinitiative.org = http://monarch2-1.cslu.ohsu.edu/

http://noctua.monarchinitiative.org = http://monarch2-2.cslu.ohsu.edu/

http://scigraph-ontology.monarchinitiative.org = http://monarch3-1.c

[2016-01-25 22:55] vanmatre commented on #4
Domain root changed to monarch1-1.cslu.ohse.udu (137.53.238.93 - monarch-app-prod)

The others were created as CNAMES pointing to their respective prod vm as requested.

N.B. olwsim just points to the monarch app-prod VM.

www.monarchinitiative.org now points to monarch-app-prog.

TTL is 1 hour.

[2016-01-28 19:57] jnguyenx opened #5 "info@monarchinitiative.org e-mail address"
If I'm not mistaken, Godaddy provides either a paid hosted email service or free forwarding service.

I'd would rather use the free forwarding service and forward emails to an internal googlegroups mailing list. The downside being that we won't be able to reply with the address info@monarchinitiative.org as the sender, and we'll have to keep that address in CC when replying to an email to keep eve

[2016-01-28 20:57] vanmatre commented on #5
GoDaddy will allow forwarding of email. I can set that up. Just need to know the monarch email name (e.g. info) and the target email address. We can have more than one.

[2016-01-29 00:25] jnguyenx commented on #4
Is there anyway to use redirect instead of cnames to have owlsim.monarchinitiative to point to http://monarch1-1.cslu.ohsu.edu/owlsim/ ?

Here are more subdomain to create please:

http://beta.monarchinitiative.org/ =  http://monarch1-3.cslu.ohsu.edu/

http://solr-dev.monarchinitiative.org/ = http://monarch2-3.cslu.ohsu.edu/

http://scigraph-ontology-dev.monarchinitiative.org = http://monarch3-3.c

[2016-01-29 00:25] jnguyenx opened #6 "subdomain clean up"
Are there any sub-domains which are not pointing to OHSU servers? I guess that there are still some pointing to UCSD.

[2016-01-29 01:27] jnguyenx commented on #4
Nice for owlsim.monarchinitiative.org. Is it possible to just remove the trailing / in the redirect? Our app does not like that...

[2016-01-29 17:27] vanmatre commented on #6
owlsim forward has had the trailing / removed

beta and solr-dev forwards created

scigraph-ontology-dev and scigraph-data-dev are existing A records.

N.B. I have been pointing forwards and CNAMES to NNN.monarchinitiative.org rather than to the ohsu names (to avoid ohsu DNS oddities between internal and external addresses). I can revisit this if we cannot make it work.
Also, If need be I can spin

[2016-01-29 21:40] jnguyenx commented on #6
Thanks!

[2016-01-29 21:40] #6 closed

[2016-01-29 21:40] jnguyenx opened #7 "Activate https for monarch-app and mme server"

[2016-01-29 21:57] jnguyenx opened #8 "Make docker containers for SciGraph boot at startup"

[2016-01-30 00:06] jnguyenx opened #9 "Install graylog"

[2016-01-30 03:11] mellybelly opened #10 "webphenote not resolving"
http://create.monarchinitiative.org/

[2016-02-01 16:44] vanmatre commented on #10
create.monarchinitiative.org pointed to poole.monarchinitiative.org.

Which of our vm shall I point it to (where is the app running?) Shall it be a cname or a redirect?

[2016-02-01 18:19] jnguyenx commented on #10
That would be on monarch2-2 as a cname please.

Thanks!

On Mon, Feb 1, 2016 at 8:44 AM, vanmatre <notifications@github.com> wrote:

[2016-02-01 18:27] vanmatre commented on #10
Done!

[2016-02-01 18:28] jnguyenx commented on #10
Thanks!

Note that the webapp is not up yet, Dan is currently working on deploying
the Noctua stack on this server.

On Mon, Feb 1, 2016 at 10:27 AM, vanmatre <notifications@github.com> wrote:

[2016-02-02 01:03] jnguyenx commented on #10
Ethan, just to be safe, is it possible to revive the old
create.monarchinitiative.org under a different name?

Like create-old.monarchinitiative.org?

No need to go through the old poole subdomain.

Thanks,
Jeremy

On Mon, Feb 1, 2016 at 10:28 AM, Jeremy Nguyen Xuan <jnguyenxuan@lbl.gov>
wrote:

[2016-02-02 17:35] vanmatre commented on #10
Of course it is possible to put in create-old  - Where do you want to point it to? The original points to poole (132.239.131.227) Just want to be sure.

--Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
___________________________

[2016-02-02 17:57] jnguyenx commented on #10
So I think that we'll have to a cname poole.monarchinitiative.org pointing
to 132.239.131.227, because the services are referring to this url and I
have no access to change that.

Let's try this and see how it goes.

Thanks!

On Tue, Feb 2, 2016 at 9:35 AM, vanmatre <notifications@github.com> wrote:

[2016-02-02 18:15] vanmatre commented on #10
create-old.monarchinitiative.org  now points to 132.239.131.227 (as an A record). We should likely let them know we are doing this and verify the functionality we need exists.

--ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
___

[2016-02-02 18:17] jnguyenx commented on #10
Thanks, but we still need a poole.monarchinitiative.org, otherwise the
service will not work.

On Tue, Feb 2, 2016 at 10:15 AM, vanmatre <notifications@github.com> wrote:

[2016-02-02 18:20] vanmatre commented on #10
OK got it.

poole A 132.239.131.227
create-old CNAME poole

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [notifications@github.com]
Sent: Tuesday, February 02, 2016 10:17 AM
To: monarch-in

[2016-02-02 19:02] jnguyenx commented on #10
All good! Thanks!

[2016-02-02 19:02] #10 closed

[2016-02-02 21:17] DoctorBud opened #11 "Need monarch-minerva-prod and monarch-barista-prod subdomains pointing to same IP as monarch-noctua-prod"
#### What we want

The creation of two new subdomains of monarchinitiative.org:
- monarch-minerva-prod
- monarch-barista-prod

In the short term, both of these domains will point to the same location as monarch-noctua-prod. Longer term, we may scale these services horizontally.

#### Background

The WebPhenote (Monarch's instantiation/customization of Noctua) system consists of three subsystems  (

[2016-02-03 01:00] jnguyenx opened #12 "rename ttl.monarchinitiative.org to data.monarchinitiative.org"
Apparently that was the original name of this service, I was not aware of that. Sorry!

[2016-02-03 19:17] vanmatre commented on #12
NP (No Problem)

ttl.monarchinitiative.org renamed to data.monarchinitiative.org

ttl and now data are a CNAME that points to monarch-ttl-prod.monarchinitiative.org

[2016-02-03 19:23] vanmatre commented on #11
Done - Minerva and barista set up as CNAMEs in DNS and in the host file for LAN access.

[2016-02-03 19:27] jnguyenx commented on #12
Thanks!

[2016-02-03 19:27] #12 closed

[2016-02-04 19:35] jnguyenx opened #13 "Can't ping OHSU machines when using monarch domain name"
monarch-app-beta:~$ ping scigraph-ontology.monarchinitiative.org
never returns.

However when using the OHSU domain name it works:
monarch-app-beta:~$ ping monarch3-3.cslu.ohsu.edu

Is there a reason that we can't do that?

(Note that the same problem applies for monarch-app-prod, monarch-data-load, etc...)

[2016-02-04 22:24] jnguyenx commented on #4
All good now, thanks!

[2016-02-04 22:24] #4 closed

[2016-02-04 23:01] cmungall opened #15 "Add step to golr loading to load entities/classes"
Current golr loads bring in *associations* (one document per association) which is sufficient for most purposes.

It would also be useful to load *classes* (one document per ontology class), and perhaps more generally entities.

For example, @DoctorBud is setting up a Web Phenote instance. It's domain of reference is the monarch ontology, and Noctua is set up to pull classes from golr following th

[2016-02-04 23:30] jnguyenx commented on #13
I've just realized that Ethan is not here today and tomorrow.

@f0rer0 can you maybe help?

[2016-02-05 00:41] DoctorBud commented on #11
Thanks. The new names work as hoped. I'm going to close this ticket.

[2016-02-05 00:41] #11 closed

[2016-02-05 02:48] TomConlin commented on #13
there is a java process on monarch-data-load that looks "run away" to me (but I just got here)

sudo ps -u root | grep java
[sudo] ...
14776 ?        1-02:12:12 java <defunct>

it has been using 100% of a cpu for 26 hours now
if it is chewing up network resources it may be the problem

[2016-02-05 19:08] jnguyenx commented on #13
Don't really know what that java process is, maybe jenkins.

Anyhow the issue happens on all the servers, I think that it's a DNS or firewall config issue.

[2016-02-05 19:13] TomConlin commented on #13
At this point the process is a zombie and very unlikely to be affecting servers other than the one it is on.

[2016-02-08 16:32] vanmatre commented on #13
Part of the OHSU security profile prevents a number of "normal" network connections from happening....

I have been setting up host flies to allow internal addresses to resolve but may have missed a few.  DNS to the domain gives the external address of the machines which is (in general) blocked by OHSU security.

If the host files are not working as hoped I can set up the Monarch Domain to use vie

[2016-02-08 20:11] jnguyenx commented on #13
I see, let's check the host files and see if that works as you think.

I think that this is really needed, because it makes debugging easier for
us. Thanks to the monarch-expressive urls, we can immediately which
services are used.

On Mon, Feb 8, 2016 at 11:14 AM, vanmatre <notifications@github.com> wrote:

[2016-02-08 22:56] vanmatre commented on #13
I checked the hosts files and found only 1 that was out of date. (Now fixed)

Let me know of any name that does not resolve as expected/needed.

My hope is that the number of names needed to resolve will become static and thus the overhead of keeping host files in sync will be nil. Otherwise, I'll bring up a DNS server views to "solve" this problem.

--ethna

Ethan VanMatre
Informatics Research An

[2016-02-08 23:16] jnguyenx commented on #13
Thanks! So I found some other ones:

From monarch-app-beta, cannot ping:

   - beta.monarchinitiative.org (itself)
   - solr-dev.monarchinitiative.org

from monarch-data-load, cannot ping:

   - data.monarchinitiative.org

from monarch-app-prod:

   - monarchinitiative.org (itself)
   - scigraph-ontology.monarchinitiative.org
   - scigraph-data.monarchinitiative.org
   - solr.monarchinitiative.org

[2016-02-08 23:56] vanmatre commented on #13
Ah, Those are the CNAMES we created. I've placed them in the hosts file. "shoule" all be working now.

-Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [notifications@github.com]
Sent:

[2016-02-09 19:07] nlwashington commented on #15
This will be awesome.  I think it's important to include the taxon for any node.  Furthermore, we might want to load the IC scores generated from owlsim for each ontology class, for fast lookup.

[2016-02-09 19:08] nlwashington commented on #15
Will you also be doing this for instances too?

[2016-02-09 19:16] cmungall commented on #15
This would be a fairly straightforward extension to the owltools golr loader

[2016-02-09 22:19] jnguyenx opened #16 "Can't access data server from monarch-data-load"
From the machine monarch-data-load, I'd like to download a file from http://data.monarchinitiative.org/ttl/wormbase.nt.

wget directly this url works.

In a java application, the url is resolved to the IP first, and for some reason the wget does not work anymore.

jenkins@monarch-data-load:~/ontology-graph$ wget http://137.53.238.98/ttl/wormbase.nt
--2016-02-09 14:15:39--  http://137.53.238.98/ttl

[2016-02-09 22:32] vanmatre commented on #16
More OHSU security at work. Resolving the hostname via DNS gives the external address (137.53.238.98) and wget to the FQDN is allowed past the firewalls (and websense) however port 80 access to an IP address it blocked when traversing the firewall.

If you can use the internal address (10.95.40.132 from the host file) you "should" be able to get the data you want.

--Ethan

Ethan VanMatre
Informat

[2016-02-09 22:50] jnguyenx commented on #16
Right, that's not very convenient.

The issue being that the application which downloads the files need to run
also outside OHSU. So if I configure it to use the internal address, it'll
work at OHSU but not on my laptop. And vice-versa.

So is there any chance to harmonize that and use an address reachable both
from inside and outside?

On Tue, Feb 9, 2016 at 2:32 PM, vanmatre <notifications@githu

[2016-02-09 22:54] vanmatre commented on #16
Very unlikely to change firewall/security here....

OK, So I'll have to set up an views based DNS server which will serve internale address to internal machines and external addresses to external requests.

It could take a day or few.

--Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park

[2016-02-10 01:19] jnguyenx commented on #15
After a discussion, we'll keep it in another solr core, called "entity" (or entities).

[2016-02-10 01:34] cmungall commented on #15
on reflection 'ontology' is the best name for the core.

[2016-02-10 05:21] mellybelly opened #17 "set up list serves"
Let's set up the following lists:

info@monarchinitiative.org -> gets sent to @jmcmurry , cc all site PIs
monarch-dev -> all internal project members. Closed list.
community@monarchinitiative.org -> all internal project members plus additional members. list managed by @jmcmurry

[2016-02-10 05:26] jnguyenx commented on #17
So we discussed a bit about mailing lists, and haven't chosen a solution
yet (OHSU mailman vs google groups).

I think that we can achieve what we want with GoDaddy email forwarding
service, but I don't see that very maintainable in the long run.
In my opinion the best would be to use GoDaddy email forwarding service and
redirect that to a proper mailing list.

Any thoughts Ethan?

On Tue, Feb 9,

[2016-02-10 06:03] jnguyenx opened #18 "hosts files have errors"
We had some anomalies in production, and we found out that production was hitting dev services. After some investigations, we realized that the hosts file was wrong.

I fixed one entry on the monarch-app-prod in order to fix production, but it might be worth checking if there are any other typos.

The one I fixed was:
10.95.40.133	scigraph-ontology.monarchinitiative.org scigraph-ontology

It shoul

[2016-02-10 06:16] jnguyenx commented on #18
And another comment:

It was really confusing for us to debug that. Our first move was to run the stack locally in order to debug, but we couldn't expose the bug since the urls were resolving to the right servers.

[2016-02-10 17:08] vanmatre commented on #18
Sorry about the typo - Fixed in all hosts files.

I will be bringing up a DNS server today to allow internal and external addresses to resolve correctly based on where the resolver is.

This will help remove issues with name resolution.

--Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Pa

[2016-02-10 17:12] vanmatre commented on #17
I agree - Use GoDaddy email forwarding to a real list. Use google groups or ohsu mailman for the actual lists. I can set up ohsu mailman if you decide to use that mail robot.

[2016-02-10 19:11] nathandunn opened #19 "requisition a new machine"
I would like a machine available:

http://genome.monarchinitiative.org

Specs:  4 processors, 12 GB RAM, 200 GB of disk space

@jnguyenx  said he will give me access

[2016-02-10 20:38] vanmatre commented on #19
The vm has been created. genome.monarchinitiative.org (monarch2-4.cslu.ohsu.edu)
Will we need access outside of the internal network?

[2016-02-10 21:12] jnguyenx commented on #19
Normally only port 80 will be needed for this now.

Thanks for the fast support!

On Wed, Feb 10, 2016 at 12:38 PM, vanmatre <notifications@github.com> wrote:

[2016-02-10 21:22] nathandunn commented on #19
Ditto.  Thanks.

[2016-02-11 00:51] jnguyenx commented on #19
It seems that the VM is not connected to internet at all:

$ sudo apt-get update
Err http://security.ubuntu.com trusty-security InRelease

Err http://security.ubuntu.com trusty-security Release.gpg
  Could not resolve 'security.ubuntu.com'
Err http://us.archive.ubuntu.com trusty InRelease

Err http://us.archive.ubuntu.com trusty-updates InRelease

Err http://us.archive.ubuntu.com trusty-backports

[2016-02-11 01:22] jnguyenx commented on #5
duplicate #17

[2016-02-11 01:22] #5 closed

[2016-02-11 16:23] vanmatre commented on #19
Fixed! - resolver not set up properly.

[2016-02-11 17:38] #13 closed

[2016-02-11 20:35] jnguyenx commented on #19
Thanks!

We're almost there, the domain names cannot be resolved:
jnguyenxuan@M3800:~$ curl genome.monarchinitiative.org
curl: (6) Could not resolve host: genome.monarchinitiative.org
jnguyenxuan@M3800:~$ curl monarch2-4.cslu.ohsu.edu
curl: (6) Could not resolve host: monarch2-4.cslu.ohsu.edu

[2016-02-11 21:09] vanmatre commented on #19
Question: Will genome need access from outside OHSU? It currently does not have an external address only the internal address.

[2016-02-11 21:14] jnguyenx commented on #19
Yes only port 80 is needed.

On Thu, Feb 11, 2016 at 1:09 PM, vanmatre <notifications@github.com> wrote:

[2016-02-15 15:42] mellybelly commented on #17
@jnguyenx @vanmatre should we use google since OHSU mailman may have issues with external addresses? Is that true? I am happy to set up if that is our decision. Would like to get done this week. -thx

[2016-02-16 17:18] vanmatre commented on #17
I think that OHSU mailman can use external addresses. Almost positive. I have no preference. I've setup mailman in the past but not google.

[2016-02-16 17:26] jmcmurry commented on #17
Before we commit to OHSU mailman, let's first be sure that non-OHSU
addresses can be accommodated.
An easy way to check this would be to try to add my gmail address to the
ODG list serve as this is something I have been eager to do anyway.

Best,
Julie

On Tue, Feb 16, 2016 at 9:18 AM, vanmatre <notifications@github.com> wrote:

--
----------------------------------
mcmurry.julie@gmail.com +1 805

[2016-02-16 17:28] mellybelly commented on #17
I am pretty sure we can’t do that, shannon?

On Feb 16, 2016, at 9:26 AM, Julie McMurry <notifications@github.com<mailto:notifications@github.com>> wrote:

Before we commit to OHSU mailman, let's first be sure that non-OHSU
addresses can be accommodated.
An easy way to check this would be to try to add my gmail address to the
ODG list serve as this is something I have been eager to do anyway.

Bes

[2016-02-16 17:29] mellybelly commented on #17
You can if you request it through mailman.

On Feb 16, 2016, at 9:28 AM, Melissa Haendel <haendel@ohsu.edu<mailto:haendel@ohsu.edu>> wrote:

I am pretty sure we can’t do that, shannon?

On Feb 16, 2016, at 9:26 AM, Julie McMurry <notifications@github.com<mailto:notifications@github.com>> wrote:

Before we commit to OHSU mailman, let's first be sure that non-OHSU
addresses can be accommodated.
An e

[2016-02-16 17:42] vanmatre commented on #17
CSLU has lists with external addresses in them on the OHSU mailman server. So we are confirmed.

--Ethna

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Melissa Haendel [notifications@github.com]
S

[2016-02-16 17:47] mellybelly commented on #17
great, go ahead and set up then please, I’m fine with the OHSU mailman as long as it meets our requirements.
Can we keep an archive of the mail? or does it go into the OHSU abyss?

On Feb 16, 2016, at 9:42 AM, vanmatre <notifications@github.com<mailto:notifications@github.com>> wrote:

CSLU has lists with external addresses in them on the OHSU mailman server. So we are confirmed.

--Ethna

Ethan V

[2016-02-16 17:54] vanmatre commented on #17
I'll start setting those lists up and check on the abyss....

--Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Melissa Haendel [notifications@github.com]
Sent: Tuesday, February 16, 2016 9:4

[2016-02-16 20:33] vanmatre commented on #17
I have created the 3 mailing lists and placed myself and Julie as list administrators. The forwarding from godaddy has be also set up. External address acceptance and delivery has been tested and is OK.

We now need a list of email addresses to go into each list. I can bulk load them (one per line please)

the lists (including alias and actual list) are:

info@monarchinitiative.org ====> monarch-i

[2016-02-17 19:31] jnguyenx commented on #19
@vanmatre Any updates on this server?

[2016-02-17 19:46] vanmatre commented on #19
genome.monarchinitiave.org has an external address with ports 80 and 443 open externally. (no ssh)

DNS points to the external address, files point to the internal address.

[2016-02-17 20:55] nathandunn commented on #19
Hmmm .. .. internally we can do:

curl localhost:80/apollo/annotator/index

and get the proper result.

Externally we don’t seem to resolve:

curl http://genome.monarchinitiave.org/apollo/annotator/index/ <http://genome.monarchinitiave.org/apollo/annotator/index/>

curl: (6) Could not resolve host: genome.monarchinitiave.org

Nathan

[2016-02-17 21:01] jnguyenx commented on #19
http://genome.monarchinitiative.org/apollo/annotator/index

It has just started working for me.

However there's still a issue with the nginx conf,
http://genome.monarchinitiative.org/apollo redirect to a weird url. Can you
have a look Nate?

On Wed, Feb 17, 2016 at 12:55 PM, Nathan Dunn <notifications@github.com>
wrote:

[2016-02-17 21:01] vanmatre commented on #19
Spelling on the url (monarchinitiative)

from offsite:

# curl genome.monarchinitiative.org:80/apollo/annotator/index
<!DOCTYPE html>

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Nathan Dunn [no

[2016-02-17 21:04] nathandunn commented on #19
Doh . . thanks.

[2016-02-17 21:04] nathandunn commented on #19
I'll take a look at that internal redirect.  . thanks.

[2016-02-17 21:22] nathandunn commented on #19
@jnguyenx  We need to add this line to the apollo-config.groovy

```grails.serverURL = "https://genome.monarchinitiative.org/apollo/"```

It is doing a redirect internally, but I think that it must have the wrong default host.

If you point me to the proper file I can edit it.

[2016-02-17 21:30] jnguyenx commented on #19
https://github.com/monarch-initiative/monarch-devops/blob/master/ansible/ohsu-migration/roles/apollo/files/apollo-config.groovy

Once you do that I'll repackage the app.

On Wed, Feb 17, 2016 at 1:22 PM, Nathan Dunn <notifications@github.com>
wrote:

[2016-02-17 21:53] nathandunn commented on #19
Okay I added it here: #21

Should I begin adding files or do you have to rebuild the machine?

[2016-02-17 21:59] nathandunn commented on #19
Also added #22 to update the RC1 to RC2 . . .

[2016-02-18 23:05] #8 closed

[2016-02-19 22:25] jnguyenx commented on #7
Done for the mme server.

Followed that:
https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-14-04

and that:
https://letsencrypt.org/howitworks/

[2016-02-22 20:55] nathandunn opened #24 "add https to genome.monarchinitiative.org"

[2016-02-22 20:55] jmcmurry opened #25 "Configure Nagios for diagnosing response times / performance"
@kltm Please help flesh this out in terms of what needs to be done.

[2016-02-22 21:00] #18 closed

[2016-02-22 22:40] kltm commented on #25
This depends a lot on exactly what @cmungall is looking for.

If a literal plot of how long the autocomplete takes to perform a query when warmed up (or you're going to have to use a nonsense generator), the most obvious path to something to test is to use the target URL itself and not bother involving the UI. IIRC, there are a bunch of different plugins for nagios for URL testing/timing, and usin

[2016-02-23 00:41] cmungall commented on #25
No need to overthink it. My subjective impression is that sometimes the website sucks because particular tabs take too long to render, or autocomplete takes too long to respond. I want to data to back this up, and if it holds to be true, to devise a strategy to improve it.

Testing URLs is of less interest I believe this is responsivity at the level of individual javascript components (and/or the

[2016-02-23 00:50] kltm commented on #25
At the end of the day, probably almost all of your displays should come up and render almost instantly once the data is in--I'd think that just collecting the URLs for the data calls and running them more-or-less at once would probably give you the part of the picture that you want. If the interface is slow regardless of the data, that is a separable problem.

The behave tests could be written to

[2016-02-23 01:51] nathandunn commented on #24
Almost works . . just needs websockets over https.

[2016-02-23 01:51] nathandunn commented on #24
in the nginx there is a way to do it . .

to test login and drag something from a bottom track up to the top

[2016-02-23 01:52] nathandunn commented on #24
skype me for the password

[2016-02-23 18:54] nathandunn commented on #24
Hey, so the websocket code I think needs:

[code]

[code]

I added these to nginx and it seems to work now.

Does this need to be added somewhere else or should it be closed?

[2016-02-25 21:37] kshefchek opened #27 "Automate backups of data"
Now that we're up and running we should automate back ups of important data (scigraph, ttl, raw data files from sources).  Should this be done using cron or a jenkins job?  Who should set up (myself? @vanmatre ?)

[2016-02-25 21:39] jnguyenx commented on #27
I think that it should be more than data backup, we should have image
restore point, so if something goes really wrong we can restore an older
version of the system.

On Thu, Feb 25, 2016 at 1:37 PM, Kent Shefchek <notifications@github.com>
wrote:

[2016-02-26 15:28] vanmatre commented on #27
Worth some more discussion. What to backup, with which tools, how to manage down time... We can for example shut down the VM instance and copy the container file. This provides a complete snapshot of the VM at the expense of some (hours for a large container) time.

[2016-02-27 00:29] jnguyenx commented on #27
The best would be the latter, but with live snapshots. UCSD was doing that,
but I'm not aware of which tool they used over there.

Here's one, kinda old though
https://fedoraproject.org/wiki/Features/Virt_Live_Snapshots

Ethan, can you do some research on that?

Seth recommends to stick with the libvert underlying implementation.

On Fri, Feb 26, 2016 at 7:29 AM, vanmatre <notifications@github.com

[2016-02-29 20:17] #24 closed

[2016-02-29 20:28] #2 closed

[2016-02-29 20:29] jnguyenx opened #29 "Share VMs list on GoogleDocs"
For reference purpose, share the updated spreadsheet from https://github.com/monarch-initiative/monarch-devops/issues/2 in GoogleDocs

[2016-02-29 20:30] #19 closed

[2016-02-29 20:49] jnguyenx opened #30 "New VM for log centralization"
I originally planned to install GrayLog on the monarch-access VM, but I'd prefer to have a dedicated machine for that.

Some consideration to take performance wise:
http://docs.graylog.org/en/1.3/pages/architecture.html

For us I would aim for that:

- 4 cores
- 8GB ram
- 64GB disk space

Port 80 will need to be exposed.

[2016-02-29 20:50] jnguyenx commented on #16
@vanmatre Any updates on the DNS view?

[2016-02-29 20:57] jnguyenx opened #31 "move ci.monarchinitiative.org DNS"
I moved ci.monarchinitiative.org to monarch4-5.cslu.ohsu.edu.

Can you please update the DNS?

[2016-02-29 21:51] vanmatre commented on #16
None yet. I'm working on "stuff" for my other job. 40% jobshare to Monarch - I neglected the other 60% for the last month or so....

[2016-02-29 21:59] vanmatre commented on #31
ci is now a CNAME that points to monarch-data-load (monarch4-5).

The TTL is 1 hour

[2016-02-29 22:17] jnguyenx commented on #31
Thanks!

[2016-02-29 22:17] #31 closed

[2016-03-01 00:11] vanmatre commented on #29
https://docs.google.com/spreadsheets/d/1VteU83L2rS9yHs6RlsUyZDf_-0inJ1IEfHt2FZqlNEM/edit?usp=sharing

[2016-03-01 00:20] jnguyenx commented on #29
Thanks!

Is it up to date though? I don't see the genome vm for example.

On Mon, Feb 29, 2016 at 4:11 PM, vanmatre <notifications@github.com> wrote:

[2016-03-01 00:22] vanmatre commented on #29
Not likely to be up to date. Latest I could find on the email exchanges wiith our ITG. I thought to update it online.

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [notifications@github.co

[2016-03-01 00:48] vanmatre commented on #29
I've added in genome.

 As part o fthe review I see that the old monarch-solr-dev is running. Do we need this VM anymore? If not I'll shut it down.

--Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
_______________________________

[2016-03-01 00:51] jnguyenx commented on #29
Thanks. We don't use that VM, you can shut it down.

[2016-03-01 00:51] #29 closed

[2016-03-02 23:17] jnguyenx opened #32 "monarch-data-load non-responsive when building"
Already discussed on Skype, but filing a ticket to keep a reference.

[2016-03-02 23:42] jnguyenx commented on #32
Interesting message when I logged in the machine:

jnguyenxuan@monarch-access:~$ ssh monarch-data-load
Welcome to Ubuntu 14.04.4 LTS (GNU/Linux 3.19.0-49-generic x86_64)

 * Documentation:  https://help.ubuntu.com/

** System information disabled due to load higher than 12.0**

Last login: Wed Mar  2 15:31:06 2016 from monarch4-2.cslu.ohsu.edu

[2016-03-03 06:59] TomConlin commented on #32
possibly related or split off to new ticket.
suggest non-attended jobs (jenkins, cron...)
be niced to reduce impact on interactive use

[2016-03-15 20:22] vanmatre commented on #30
Almost done with the new VM....

[2016-03-16 21:30] vanmatre commented on #30
gray-log VM has been created and is ready for the adding of applications.

Let me know if you find any problems.

--Ethan

10.95.40.114    monarch1-4.cslu.ohsu.edu monarch1-4     gray-log gray-log.monarchinitiative.org

[2016-03-20 03:29] jnguyenx opened #34 "redirect www to non-www"
https://www.monarchinitiative.org should redirect to https://monarchinitiative.org. The first one fails due to certs. In any case it's better to have a canonical URL.

I believe that this is a godaddy configuration.

[2016-03-21 14:56] vanmatre commented on #34
At godaddy www.monarchinitiative.org was a cname pointed to monarch-app-prod.monarchinitiative.org.

I have changed this to point to @ (which is monarchinitiative.org) thus

www.monarchinitiative.org points to monarchinitiative.org which has the address of monarch-app-prod.monarchinitiaive.org.

I'm not sure that this will take care of the cert issue but let's see.

[2016-03-22 00:14] kshefchek commented on #9
cc @TomConlin

@jnguyenx please add an account for Tom when you set this up.

[2016-03-22 17:34] vanmatre commented on #9
Tom has an account on all servers including gray log

--Ethan

[2016-03-22 17:56] TomConlin commented on #9
Thanks Ethan, would it be possible to get a list of what all the servers are, and work out a sensible way to communicate initial passwords?

[2016-03-22 18:01] vanmatre commented on #9
Hi Tom,

 Take a look at the hosts file for an easy way to get the server list.

 I'm a shared resource but as time allows I am putting in an LDAP server for single logins.  To start with I've copied the password from monarch-access to the various other machines. LDAP will be sensible.

I'm heading off to a meeting at 11 but can help you get started in an hour.

-_Ethan

Ethan VanMatre
Informatics

[2016-03-22 18:14] jnguyenx commented on #9
I think that setting up the LDAP server is a very low priority task. It'll
more useful to have the DNS views or setting up the Nagios notifications.

Concerning the servers list we have this reference document:
https://docs.google.com/spreadsheets/d/1VteU83L2rS9yHs6RlsUyZDf_-0inJ1IEfHt2FZqlNEM/edit#gid=168336483

On Tue, Mar 22, 2016 at 11:01 AM, vanmatre <notifications@github.com> wrote:

[2016-03-22 18:40] jnguyenx commented on #34
I don't think that the forwarding is currently working.

I've done redirecting from non-www to www, but not the other way around. In any case, the setup was using a GoDaddy IP to do the redirection.

https://www.godaddy.com/help/manually-forwarding-or-masking-your-domain-name-422

I'm not sure, but I think that @ should point to 50.63.202.1, but then I don't know how to point monarchinitiative.org

[2016-03-23 19:35] vanmatre opened #35 "Switch from Host files to local DNS server"
I have brought up a DNS server serving monarchinitiative.org internal addresses. This is running on monarch5-3.cslu.ohsu.edu (a VM on the old tartini - monarch5). I plan on having GoDaddy serve address to lookups originating outside of the monarch systems and the DNS server serving addresses to the other monarch machines.

This means that access to the monarch systems from all non-monarch servers

[2016-03-23 20:27] jnguyenx commented on #35
Thanks Ethan, tomorrow 10am works for me! I'll keep an eye.

On Wed, Mar 23, 2016 at 12:35 PM, vanmatre <notifications@github.com> wrote:

[2016-03-24 00:01] vanmatre commented on #1
Tartini is moved, installed and running at DCW

[2016-03-24 00:01] #1 closed

[2016-03-25 18:07] jnguyenx commented on #16
Now that we have the DNS views, what's the canonical url to access an OHSU VM?

Let's that that I'm logged in monarch-data-load, and I want to access the monarch-solr-prod solr. What is the preferred address to ssh in that VM?
137.53.238.95, monarch2-1.cslu.ohsu.edu or other?

[2016-03-25 18:18] vanmatre commented on #16
(no views on the DNS)

from any monarch VM you wold just use the host name (monarch-solr-prod) or the short name (solr). You could even use the OHSU name (monarch2-1). All of these are in the monarchinitiative.org >>internal<< DNS (solr.monarchinitiative.org) and only work from the monarch machines.

If you use the cslu.ohsu.edu domain (solr.cslu.ohsu.edu) you will get the >>external<< DNS address

[2016-03-29 00:02] jnguyenx commented on #16
That makes sense, thank you for clarifying that!

[2016-03-29 00:02] #16 closed

[2016-03-30 23:16] jnguyenx commented on #30
Thanks!

[2016-03-30 23:16] #30 closed

[2016-04-14 15:24] jnguyenx opened #37 "monarch-solr-prod needs more diskspace"
We'll copy data over from monarch-solr-dev. Ideally can you extend the disk space to 1TB on production to match the dev specs?

[2016-04-15 22:20] vanmatre commented on #37
Let me know when the copy is complete and I'll rebuild the prod VM

[2016-04-15 22:58] jnguyenx commented on #37
Can it be done with a minimal downtown and without losing our data?

On Fri, Apr 15, 2016 at 3:20 PM, vanmatre <notifications@github.com> wrote:

[2016-04-15 23:07] vanmatre commented on #37
Not so easy. We could bring up an other VM that you could copy the data over to the switch addresses....

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [notifications@github.com]
Sent: Frid

[2016-04-15 23:14] jnguyenx commented on #37
I remembered that @kltm was increasing disk space with minimal downtime.
Seth, if I recall correctly, do you have any tips?

[2016-04-15 23:27] vanmatre commented on #37
The VM use ext4 internally (not lvm) which makes it a bit harder. Tips would be useful - I can try a few tests in cating container files together and then extending the disk image - swap is the second partition on the disk. but We have a /boot do root is the 3rd partition and might extend well.

[2016-04-15 23:33] vanmatre commented on #37
I'll think about adding a NFS disk from the base metal to the VM. We can get some throughput metrics and if good then we will have a much larger way for app space.

[2016-04-19 22:18] kltm commented on #37
Sorry, just getting back into things here.

Uhhh...
You can technically get a bigger partition (fdisk) and then grow with resize2fs, but it is a bit of mucking around in the weeds (and assumes that you have more space to grow into). If the VMs are disposable/recreatable, wouldn't it just be easier to great the new enlarged machine and just flip to it (as https://github.com/monarch-initiative/monar

[2016-04-19 23:08] jnguyenx commented on #37
I had a quick chat with Seth, what he wrote in his comment was based on the
fact that we needed to do that without downtime.

Increasing disk space with data preservation should be doable with a
reasonable downtime. If I recall correctly we're running on KVM right? That
may help
http://serverfault.com/questions/324281/how-do-you-increase-a-kvm-guests-disk-space

It'd be wise to test that command o

[2016-04-19 23:20] vanmatre commented on #37
I agree that testing is required. The partitions are not LVM so the resize becomes a bit more interesting... I've done it before but there is a lot to go wrong. In any case I will copy the container file (for a true backup) before trying it on the "actual" VM.\
It will take a day or few to get the time and to do the testing.

-_Ethan

[2016-04-27 21:19] vanmatre commented on #37
OK - got some time to creat NFS mounts on each of the VM.... Let's see if this takes care of the space problem.

Preamble: Each VM run on some base hardware (VM (e.g. monarch1-1) runs on hardward monarch1). The base hardware on monarch[1-4] has 20 or so TB of storage that is under utilized. Monarch5 has much less disk but follows the same scheme.

So I created a directory on each hardware server t

[2016-04-27 21:22] vanmatre commented on #37
evm@monarch-solr-prod:~$ df -h
Filesystem                       Size  Used Avail Use% Mounted on
udev                              16G  4.0K   16G   1% /dev
tmpfs                            3.2G  432K  3.2G   1% /run
/dev/vda3                        489G  289G  176G  63% /
none                             4.0K     0  4.0K   0% /sys/fs/cgroup
none                             5.0M     0  5.0M   0% /

[2016-04-27 21:25] kltm commented on #37
Is there any way to benchmark NFS versus non-NFS i/o performance here? There are enough layers here, I could see it really grinding down (https://github.com/monarch-initiative/monarch-devops/issues/37#issuecomment-212151530).

[2016-04-27 22:04] vanmatre commented on #37
there are falsehoods, lies, statistics and benchmarks.....
But a few quick single stream rsyncs shows that we can expect NFS traffic to equal or exceed local traffic. At least for single copies.

I created a single 8 GB file and rsynced it to a new location on the base hardware disks. This is to give us a baseline. The average transfer rate was 188 MB/s and took 45 seconds. The range was from a lo

[2016-05-05 01:20] mellybelly opened #38 "Move HPO site to OHSU servers"
@pnrobinson requested that we host this in our new infrastructure for ease of sys admin among other things.
@drseb can you help describe what exists and what needs to be done?
@jnguyenx @cmungall can also assist.

[2016-05-05 09:10] drseb commented on #38
First I would like to have more information regarding the context of this. Not sure which sites should move and what the reasons are.

[2016-05-05 23:45] cmungall commented on #38
Wait, it's github pages. The sys admin costs to Charite are $0.00. I think there must have been a miscommunication somewhere, I suggest closing this ticket.

[2016-05-06 08:02] drseb commented on #38
I guess this was about Exomiser. Sanger won't host anymore.

[2016-05-06 10:24] mellybelly commented on #38
@julesjacobsen @damiansm let us know if you need anything moved; perhaps @pnrobinson was referring to the hudson build? I am uncertain, but we are happy to help if there is a need.

[2016-05-06 10:25] drseb commented on #38
ok. waiting for @pnrobinson to clarify

[2016-05-06 12:54] pnrobinson commented on #38
There are yet more various new developments - let's hold off on this for a bit and make plans for the medium term!

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor of Bioinformatics, Freie Universität Berlin
Institut für Medizinische Genetik und Humangenetik
Charité - Universitätsmedizin Berlin
Augustenburger Platz 1
13353 Berlin
Germany
+4930 450566006
Mobile: 0160 937698

[2016-05-06 13:21] mellybelly commented on #38
Ok I will close, but please feel free to let us know if you need anything in this regard.

[2016-05-06 13:21] #38 closed

[2016-05-13 23:41] jnguyenx commented on #32
There's currently a heavy job running on Jenkins. There are multiple issues, in addition to the one mentioned in https://github.com/monarch-initiative/monarch-devops/issues/32#issuecomment-191495515.

1. ssh-ing to monarch-access takes a while (~2 minutes).
2. scigraph-data-prod and scigraph-data-dev becomes also non-responsive.
3. Cannot open http://vm-monitor.monarchinitiative.org/ganglia to see

[2016-05-13 23:51] jnguyenx commented on #32
I managed to access ganglia for a minute, monarch4 is very red:

![screenshot from 2016-05-13 16-47-33](https://cloud.githubusercontent.com/assets/4312088/15264672/c25d7d6e-192a-11e6-989b-de2fd95e5da4.png)

@vanmatre what would be a good fix? Redistribute the VMs to make sure that jenkins never sits with a production VM? Or pump up the jenkins VM?

[2016-05-13 23:54] vanmatre commented on #32
I'm on the bus now so I cannot do much....

 The load average is inthe 70's I'll take a look to see which vm is bring it down. It appears to be swapping so we likely have an over commitment of memory.

Which VM do you think is doing it?

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Por

[2016-05-13 23:55] jnguyenx commented on #32
It's definitely the one with jenkins (monarch-data-load).

On Fri, May 13, 2016 at 4:54 PM, vanmatre <notifications@github.com> wrote:

[2016-05-13 23:57] vanmatre commented on #32
You want me to kill the java job?

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [notifications@github.com]
Sent: Friday, May 13, 2016 4:55 PM
To: monarch-initiative/monarch-devops
Cc: Etha

[2016-05-13 23:58] jnguyenx commented on #32
No please don't, it's close to finishing. We just need to think about a
long term solution.

On Fri, May 13, 2016 at 4:57 PM, vanmatre <notifications@github.com> wrote:

[2016-05-13 23:59] vanmatre commented on #32
OK sounds good to me. Think about it over the weekend on how to throttle it to keep the load more reasonable. I'll think of creative solutions.

--Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
Fr

[2016-05-18 21:01] #35 closed

[2016-05-19 06:07] jnguyenx commented on #32
@vanmatre did you have the time to think of a solution?

I was thinking about two options, we can get faster disk (SSDs?) or we can install jenkins on a baremetal machine instead of a VM to have a better I/O.

I'll be available for the rest for the week to solve this critical issue, just ping me on Skype or by email.

[2016-05-20 01:47] harryhoch opened #39 "cert failure"
www.monarchinitiative.org still comes back with a cert error. Can we fix this?

[2016-05-20 02:14] jnguyenx commented on #39
Tracked here: https://github.com/monarch-initiative/monarch-devops/issues/34

[2016-05-20 02:14] #39 closed

[2016-05-20 02:35] harryhoch commented on #34
thanks, @jnguyenx  -  I couldn't reopen this one. What can be done to get this fixed?

[2016-05-20 02:42] jnguyenx commented on #34
It has not be solved yet. It's a GoDaddy configuration issue, you can redirect www to non-www and vice versa.

@vanmatre did you have the time to look at this again?

[2016-05-20 15:49] vanmatre commented on #39
I'll take a look at it today

[2016-05-20 15:50] vanmatre commented on #34
yes, I'll do some checking.

[2016-05-20 16:15] vanmatre commented on #34
I've done some checking of the cert and found that there are no alternate names listed in the cert (the cert for monarchinitiative.org could include an alternative name of www.monarchinitiative.org). See the results of testing in the next post by me.

I've also looked at GoDaddy and attempted to change how it "translates" www.monarchinitiative.org into monarchinitiative.org. Once the TTL expires w

[2016-05-20 16:15] vanmatre commented on #34
Testng:

for www.monarchinitiative.org

None of the common names in the certificate match the name that was entered (www.monarchinitiative.org). You may receive an error when accessing this site in a web browser. Learn more about name mismatch errors.

for monarchinitiative.org

all OK

for monarch-app-prod.monarchinitiative.org

None of the common names in the certificate match the name that was

[2016-05-20 16:30] vanmatre commented on #34
Of course, this breaks www.monarchinitiative.org till the redirect takes effect..... I'll keep an eye on it and put the cname for www back in if it does not resolve in the next 30 minutes or so.

[2016-05-20 17:31] vanmatre commented on #34
looks to be redirecting now.

[2016-05-20 17:32] jnguyenx commented on #34
Perfect thanks!

On a side not: I agree that adding www.monarchinitiative.org in the ssl can fix the problem, but I don't think that it's the right fix. As stated in my first comment, having a canonical url is a good practice, especially for SEO purposes.

[2016-05-20 17:32] #34 closed

[2016-05-20 23:33] vanmatre commented on #32
Working with Jeremy I was able to find a solution to this problem. Under heavy disk load the VM would become non-responsive. The VM's load average was low and the hardware load average would go up around 100.

By changing the disk cache mode and passing IO directly to the base hardware we were able to see the VM and hardware run as we would expect. The VM load average topped out around 20 with 15

[2016-06-21 22:33] #7 closed

[2016-06-23 05:51] jnguyenx commented on #37
Using it live since today, let's see how it performs.

[2016-06-23 05:51] #32 closed

[2016-06-27 19:47] nathandunn opened #40 "update apollo to 2.0.3"
https://github.com/GMOD/Apollo/tree/2.0.3 . . .

[2016-06-28 15:52] nathandunn commented on #40
@jnguyenx   What would be the easiest way to do this?  The script is almost identical but we install node.js, bower, and a different version of Apollo.

These are the users' to add, which includes the reviewer:

<img width="573" alt="screen shot 2016-06-28 at 11 50 56 am" src="https://cloud.githubusercontent.com/assets/751274/16422508/ab52aad4-3d26-11e6-8b3b-816a1f83585a.png">

The reviewer has ac

[2016-06-28 15:53] nathandunn commented on #40
@jnguyenx  I can edit and create a PR if that is the way to go.   This isn't urgent, but would like to do it as we have time.

[2016-06-30 18:29] jnguyenx commented on #40
Yes you can do a PR to update the apollo version here:
https://github.com/monarch-initiative/monarch-devops/blob/master/ansible/jenkins/apollo.yml

For the users, I assume that it is just a file on the server to change, can you do that manually?

[2016-07-12 22:13] jnguyenx commented on #37
I'm reopening this as I think that NFS is a working solution for some of our needs only.

It suits well the jenkins CI for generating large files (although performance could be better). However for production I don't feel comfortable to have data sitting on a shared NFS. For example for solr, the data folders sit next to each other:

If it's possible, I'd still like to try out the route where we'l

[2016-07-12 22:33] kltm commented on #37
Those groups/permissions are worrying. It looks like the users on the different client machines are not in sync (or using a centralized shared user set). That could cause all sorts of unforeseen consequences with locks and the like.
NFS may not be the best solution here (also thinking about performance and NFS being the creature that it is, often not paired with databases).

[2016-07-22 20:52] jnguyenx opened #41 "scigraph-data-prod needs more diskspace"
See #37

[2016-07-22 21:23] vanmatre commented on #41
How much disk space do you want to see on scigraph-data-prod?

We are currently using 2.8 TB on the NFS mount filesystem. (PS it can be locked down further is needed permissions wise).

The path of least resistance is to build a new VM with the disk space you need and then swap it onto production when it is ready to go. I will use LVM which will allow disk expansion.

--Ethan

evm@scigraph-data-pr

[2016-07-22 21:25] vanmatre commented on #37
The VM is currently using 3.9 TB on the NFS partition. What size is needed. As with Scigraph-data-prod I can create a new VM and we can prep it to take over production. Using LVM which can allow for disk expansion.

evm@monarch-solr-prod:~$ df -h
Filesystem                       Size  Used Avail Use% Mounted on
udev                              16G  4.0K   16G   1% /dev
tmpfs

[2016-07-22 22:17] jnguyenx commented on #41
Ok let's do the re-install late next week, as we currently need our dev services to test new data.

[2016-07-26 20:10] jnguyenx opened #42 "New VM request for plain Neo4j server"
neo.monarchinitiative.org

8 cores
128GB ram (If we're short on ram 64GB ram is sufficient)
500GB disk space, so we can use this machine for other experiments

Port 80 will need to be exposed.

[2016-07-27 23:27] vanmatre commented on #42
Do have a specific server you want it on of shall I pick one?

[2016-07-27 23:42] jnguyenx commented on #42
Any server is fine, thanks!

On Wed, Jul 27, 2016 at 4:27 PM, vanmatre <notifications@github.com> wrote:

[2016-07-27 23:44] vanmatre commented on #42
OK - I'm doing the math now for available resources. Which VM would you like a ramdisk on? I can allocate more ram in some cases.

[2016-07-27 23:49] jnguyenx commented on #42
That would be for monarch-data-load, after we move it to the baremetal with
SSDs.

But before going into ramdisk, how big can this partition be? I think that
we'll need at least 100GB, and if possible 200GB to be more comfortable.

On Wed, Jul 27, 2016 at 4:44 PM, vanmatre <notifications@github.com> wrote:

[2016-07-28 00:10] vanmatre commented on #42
tell me about monarch5-4 - know anything?

[2016-07-28 00:30] jnguyenx commented on #42
That's the initial VM to test out the SSDs, which ran out of disk space. We
can get rid of it.

On Wed, Jul 27, 2016 at 5:10 PM, vanmatre <notifications@github.com> wrote:

[2016-07-29 23:04] vanmatre commented on #42
neo4j.monarchinitiative.org is now running on monarch3-4.  The external address has not been assigned as of yet but you can get to it from the other monarch VM.

[2016-07-29 23:10] vanmatre commented on #41
If we could allocate more ram for a ram disk how much would be needed? (and cpu also)

[2016-07-30 00:13] jnguyenx commented on #41
That machine just need more disk space, and won't need ram disk. Since this
is a production VM, we'll need to coordinate to minimize the downtime.

On Fri, Jul 29, 2016 at 4:10 PM, vanmatre <notifications@github.com> wrote:

[2016-08-01 16:52] vanmatre commented on #41
How big should we make the new VM disk? The NFS partition is currently using 2.8 TB.

[2016-08-01 17:18] jnguyenx commented on #41
Let's go with 0.5TB for the long run.

Remember that this is a production VM.

On Mon, Aug 1, 2016 at 9:52 AM, vanmatre <notifications@github.com> wrote:

[2016-08-01 17:32] jnguyenx commented on #42
Can you please add me as sudo?

On Fri, Jul 29, 2016 at 4:04 PM, vanmatre <notifications@github.com> wrote:

[2016-08-01 18:00] vanmatre commented on #42
Done!

Sorry about forgitting to do that.

-_Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [notifications@github.com]
Sent: Monday, August 01, 2016 10:32 AM
To: monarch-initiative/mo

[2016-08-01 23:28] jnguyenx commented on #42
One last thing, I ran out of disk space, there's only 9G available.

[2016-08-02 19:13] vanmatre commented on #42
Yes, the setup on this VM with LVM is a bit off. The default is to put the space in /home. (there is 92 GB there). Can you set up links to /home or shall I rebuild the VM?

Where do you normally place your working directories?

[2016-08-02 19:48] jnguyenx commented on #42
I see, I think that the best practice is to put custom stuff in /opt and
/var and not in the /home of a particular user.

I would rather keep doing this way. Can you please go ahead and rebuild the
VM?

Thanks!

On Tue, Aug 2, 2016 at 12:13 PM, vanmatre <notifications@github.com> wrote:

[2016-08-02 19:49] vanmatre commented on #42
Will do. Just have to force the installer to partition LVM like we want...

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [notifications@github.com]
Sent: Tuesday, August 02, 2016 12:48 PM

[2016-08-02 21:31] vanmatre commented on #42
OK, a new VM is created and is ready to be worked on. You are in the sudo file.

[2016-08-03 05:27] jnguyenx commented on #42
I can't connect to the VM for some reason, I tried my username and also the
monarch one. I don't think that the access file has been copied over.

And while we're at it, I think that from now on we can use Ubuntu 16.04,
since we're going to reinstall most of the VMs to have LVM. Sorry for not
thinking about that earlier...

On Tue, Aug 2, 2016 at 2:31 PM, vanmatre <notifications@github.com> wrote:

[2016-08-03 16:06] vanmatre commented on #42
Can do (ubuntu 16). I'm sure that you are aware that there are major changes between 14 and 16.

IT has not set up the external access so we can only access neo4j from another monarch VM.

Given the delay in getting outside access we have time to reload it with ubuntu 16. What do you think?

[2016-08-03 16:20] vanmatre commented on #42
Ah, got it. Corrupt shadow file entry. Fixed

[2016-08-03 18:03] jnguyenx commented on #42
Yep let's reload to 16! Thanks Ethan!

On Wed, Aug 3, 2016 at 10:00 AM, vanmatre <notifications@github.com> wrote:

[2016-08-03 18:12] vanmatre commented on #42
OK will get going on it today.

[2016-08-04 00:38] vanmatre commented on #42
the VM has been created with Ubuntu 16.01.1 LTS. Users, sudo are set and we did get the outside address configured. Onlu http and https are open from the outside.

--Ethan

[2016-08-05 21:10] jnguyenx commented on #42
Many thanks, the service is up and running!

http://neo4j.monarchinitiative.org/

[2016-08-05 21:10] #42 closed

[2016-08-17 22:28] jnguyenx commented on #42
@vanmatre can you please update the googledocs and add this server?
Thanks!

[2016-08-17 22:41] vanmatre commented on #42
Got a more direct link to the doc? I'm not finding it

[2016-08-17 22:42] jnguyenx commented on #42
https://docs.google.com/spreadsheets/d/1VteU83L2rS9yHs6RlsUyZDf_-0inJ1IEfHt2FZqlNEM/edit#gid=168336483

On Wed, Aug 17, 2016 at 3:41 PM, vanmatre <notifications@github.com> wrote:

[2016-08-17 23:02] vanmatre commented on #42
There it is.

[2016-08-24 00:07] jnguyenx opened #43 "Move monarch-data-load to old Tartini"
As discussed by email, let's move this VM to the SSD machine.

(Moving the VM would be ideal, but we can also consider a fresh new install, that would require more coordination though.)

[2016-08-24 19:22] jnguyenx opened #44 "New VM request for Solr 6"
monarch-solr6-dev

Ubuntu 16.04
6 cores
32GB
750GB - 1TB disk space (not sure yet how big the data will be).

This is meant to replace monarch-solr-dev in the long run, but for now we're still experimenting.

[2016-08-24 20:09] jnguyenx opened #45 "Set up RamDisk on monarch-data-load"
After https://github.com/monarch-initiative/monarch-devops/issues/43 is done, we can go ahead and try to set up a ram disk directory, that speeds up our current data pipeline tremendously. ~200GB would be good to start with.

[2016-08-24 23:27] vanmatre commented on #44
monarch-solr6-dev is up and running. 10.95.40.135  It is in the local monarch DNS and can be accessed from the other monarch servers.

Do you need outside access to it (and which ports)?

[2016-08-24 23:45] jnguyenx commented on #44
Yes, same as monarch-solr-dev. Port 80 and 443.

Thank you for the quick install!

On Wed, Aug 24, 2016 at 4:27 PM, vanmatre <notifications@github.com> wrote:

[2016-08-24 23:47] vanmatre commented on #44
No problem, Will get the external address and port request started.

[2016-08-31 22:46] jnguyenx commented on #44
@vanmatre do we have an external address for this server on port 80? I've installed solr but don't know which IP / url to use?

[2016-08-31 22:52] vanmatre commented on #44
Not yet. Let me check with our network folks to see whats up.

--Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [notifications@github.com]
Sent: Wednesday, August 31, 2016 3:46 PM
To:

[2016-09-01 16:35] vanmatre commented on #44
Just got the address from network engineering. It has been added to the external DNS server.

monarch-solr6.dev.monarchinitiative.org 137.53.238.116 (http and https open)

it may take a little time to become fully active but there it is.

Regards, Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Ja

[2016-09-01 17:51] TomConlin opened #46 "httpS for data.monarchinitiative.org/"
https://data.monarchinitiative.org does not currently resolve.  It should for consistency with the rest of monarchinitiative.org.

[2016-09-01 18:05] TomConlin opened #47 "archive.monarchinitiative.org does not exist"
We annotate our datasets with their "forever home"  in.
https://archive.monarchinitiative.org/ttl/
I have not seen this resource and assume it was lost in the move up from California.

I do not know how It was organized originally.  My preference now would be:

https://archive.monarchinitiative.org/YYYYMMDD/everything
[dev/ dot/ golr/ neo4j/ owl/ pub/ service-scripts/ ttl/]

[2016-09-01 18:12] jmcmurry commented on #47
Yessssssplease. :)

[2016-09-01 18:20] jmcmurry commented on #46
+1

[2016-09-01 19:06] vanmatre commented on #46
I just checked  data.monarchinitiative.org - it does resolve for me from both off site (outside of ohsu's network) and internally to ohsu's network.

However, the webserver running on it appears to respond to http requests but not to https requests.

Nmap from external servers show both http and https are open. Chrome says that data exists but is not responding to https requests.

Looks like a web

[2016-09-01 19:08] vanmatre commented on #47
Which server should archive point to (as a cname)?

[2016-09-02 18:44] TomConlin commented on #47
Looks like this issue has previous tickets (I should have checked)
https://github.com/monarch-initiative/monarch-devops/issues/3
https://github.com/monarch-initiative/monarch-devops/issues/27

[2016-09-06 19:57] jnguyenx commented on #44
All good for me! Might be useful to add this to the server list.

Thanks!

[2016-09-06 19:57] #44 closed

[2016-09-06 20:07] jnguyenx commented on #47
@TomConlin I have never seen it working. Each time Nicole tried to show me that, it was unavailable. Do you have any idea how it was implemented? Was it just a cron job? If yes what was the frequency?

[2016-09-06 20:35] TomConlin commented on #47
There are triples created in the ingest process which reference http://archive.monarchinitiative.org/ttl,  I have not found more.
As I see it, our  data/ttl  etc. directories should just be a symlinks to the latest archive.

[2016-09-08 22:49] TomConlin opened #48 "Monarch dataload (and other machines) need OS updates"
Logging into  monarch-data-load  (10.95.40.142)
we are greeted with:
###### #######################################

WARNING: Security updates for your current Hardware Enablement Stack
ended on 2016-08-04:
- http://wiki.ubuntu.com/1404_HWE_EOL

To upgrade to a supported (or longer-supported) configuration:
- Upgrade from Ubuntu 14.04 LTS to Ubuntu 16.04 LTS by running:
  sudo do-release-upgrade

[2016-09-08 23:25] kshefchek commented on #47
@vanmatre we would want archive.monarchinitiative.org and data.monarchinitiative.org on separate physical machines.  Other than that the vm would be similar to monarch-ttl-prod.

@TomConlin also suggested we consider a second archive at one of our partner sites but we can break that out to a separate ticket once the OHSU archive is set up.

[2016-09-09 21:22] jnguyenx commented on #43
@vanmatre do you have any time estimate for that? We could really use some more disk I/O for our data pipeline.

[2016-09-12 15:24] vanmatre commented on #43
I'll be able to work on it this week. I had some hardware fires last week)

Ethan

[2016-09-13 16:33] vanmatre commented on #43
Is there a time I can shut down Monarch-data-load ? We will need to shut it down to clone it over. It could be down for a day.

[2016-09-13 20:29] jnguyenx commented on #43
So tomorrow will be ideal for us! Thanks!

On Tue, Sep 13, 2016 at 9:33 AM, vanmatre <notifications@github.com> wrote:

[2016-09-13 21:47] vanmatre commented on #43
Sounds good - So the plan is to shut it down sometime in the AM on Wednesday 9/14 and get it up asap (could be 24 hours)

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [notifications@github

[2016-09-14 15:18] vanmatre commented on #43
Of course there is a snag....

The target physical server Monarch5 (tartini) has 207 GB free disk space. There is an old VM (monarch5-4) running (last logged into by Jeremy on 9/11) that will free up 500 gb disk hen deleted giving us around 700 GB free disk.

Monarch-data-load is currently set for 1 TB of disk - Not enough free disk space to clone the VM over to Monarch5.

Options include creating

[2016-09-14 17:46] jnguyenx commented on #43
I would decommision monarch5-4, move the rest of the VMs on monarch5 (owlsim, owlsim3, ns1) elsewhere, and use tartini directly as a baremetal, without any VM layer.

How does that sound? Hopefully 1TB is enough for our Jenkins CI stuff.

[2016-09-14 20:32] vanmatre commented on #43
That is OK  - I'll start work on it.

[2016-09-15 15:08] jnguyenx opened #49 "Update coriell credentials"
Because of #43 we'll need to coordinate to send the new key to coriell.

[2016-09-22 23:21] vanmatre commented on #43
Just finished up moving the VM on manarch5 to other systems.  Please do check owlsim and owlsim3 to be sure that they are running any apps you expect them to do.

I did notice that there was a java process that @jnguyenx owned that was running before the move and not after. It had been running for quite some time.

I'll finish up on monarch5 tomorrow so that we can host monarch-data-load there.

[2016-09-22 23:25] jnguyenx commented on #43
We were using those for experiments so far and haven't deployed any production apps. So do not worry for those processes.

[2016-09-23 21:21] vanmatre commented on #43
Next question... How long could monarch-data-load be down for? Could it be down over the weekend?

[2016-09-23 21:38] jnguyenx commented on #43
Hmm why do you need to shut it down for? I thought that it'll be just a
CNAME switch when we have installed the services on Tartini no?

On Fri, Sep 23, 2016 at 2:21 PM, vanmatre <notifications@github.com> wrote:

[2016-09-23 21:54] vanmatre commented on #43
I was wondering so that I could take a snapshot. In thinking about a snapshot I realized that because of its size getting a snapshot could take quite some time. _ planning ahead.

[2016-09-23 21:58] jnguyenx commented on #43
Oh okay I see, well we can do the snapshot after we have done the move, I
don't think that there's any risk to lose our data before moving right?

On Fri, Sep 23, 2016 at 2:54 PM, vanmatre <notifications@github.com> wrote:

[2016-09-23 22:37] vanmatre commented on #43
The current monarch 5 Hardware is running Ubuntu 14.04.5 LTS as is the Monarch-data-loaf VM. I assume that we want to load Ubuntu 16.04 LTS for the new monarch-data-load.

KVM VM run at about 98% of the base hardware speed. Quite efficient. We have a choice of using the base hardware or creating a VM for the new instance of monarch-data-load.

I'll need to drive out to the datacenter Monday to loa

[2016-09-23 22:56] jnguyenx commented on #43
Yes, 16.04 is the way to go.

I would rather go bare metal to use all the available resources of this
machine.

Thanks!

On Fri, Sep 23, 2016 at 3:37 PM, vanmatre <notifications@github.com> wrote:

[2016-09-26 22:15] vanmatre commented on #43
OK, monarch5 is now running ubuntu 16.04.1 LTS. Accounts have been created for users but not services (jenkins etc). There is about 1.1 TB free.

The box is located at monarch5.cslu.ohsu.edu and is currently only accessible from on the OHSU network (i.e. from another monarch VM).

monarch-data-load has ports 80 and 443 open externally to OHSU (but not ssh) I will request that monarch5 also have th

[2016-09-26 22:31] jnguyenx commented on #43
Awesome! Thank you so much!

On Mon, Sep 26, 2016 at 3:15 PM, vanmatre <notifications@github.com> wrote:

[2016-09-27 01:30] jnguyenx commented on #43
@cmungall is tartini still under warranty?

[2016-09-27 22:24] jnguyenx commented on #43
@vanmatre did you copy the users file from monarch-access? I'm not in the sudoers and the user monarch looks to have another password. Can you please double check?

[2016-09-27 22:28] vanmatre commented on #43
Yes, users come from monarch-access. You are now in the sudo list. Sorry for the oversight

[2016-09-28 22:50] jnguyenx commented on #43
Thanks, I installed almost all the services.

Quick question, do you have the future public IP address of that machine? We need to send the IP and ssh keys to another institution in order to have access to one of their machine.

[2016-09-28 22:52] vanmatre commented on #43
An external address has been requested, no results yet.  - http and https access was also requested. Do you need ssh externally?

--Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [not

[2016-09-28 22:54] jnguyenx commented on #43
No no ssh through monarch-acess is very fine.

Oki I'll wait, thanks for the update!

On Wed, Sep 28, 2016 at 3:52 PM, vanmatre <notifications@github.com> wrote:

[2016-09-29 18:05] jnguyenx opened #50 "New VM request for Solr 6 prod"
monarch-solr6-prod

Ubuntu 16.04
6 cores
32GB
1TB disk space (do we have enough disk space still?)

Port 80 and 443 needs to be open.

This VM will replace monarch-solr-prod.

[2016-09-29 18:06] jnguyenx opened #51 "New VM request for Exomiser"
monarch-exomiser-prod

Ubuntu 16.04
4 cores
4GB
100GB disk space

Port 80 and 443 needs to be open.

This VM is for @julesjacobsen to install a monarch instance of exomiser.

[2016-09-29 23:10] vanmatre commented on #51
This VM has been created. DNS, Passwords and sudo all set.

Let me know if you find any problems.

[2016-09-29 23:11] vanmatre commented on #50
This VM has been created. DNS, Passwords and sudo all set.

Let me know if you find any problems.

[2016-10-06 18:04] nathandunn commented on #40
2.0.4 seems to be sensible and working!

[2016-10-06 18:04] #40 closed

[2016-10-06 19:52] nathandunn commented on #40
A quick note on updates (if we ever have to do this again) for @kltm  / @kshefchek / @monicacecilia etc.

1 - update version in ansible script:

https://github.com/monarch-initiative/monarch-devops/blob/67a4b4d1c7e0111954fd328182fbcb496dbfb158/ansible/jenkins/apollo.yml

2 - rerun jenkins:

http://ci.monarchinitiative.org/view/prod/job/start-apollo-prod/

3 - check if the right version:

https://g

[2016-10-07 20:59] kshefchek commented on #51
In running exomiser, we will likely need to load PHI on to the server.  @vanmatre are there any special considerations in doing this?  I assume there is a process we need to go through.

[2016-10-07 21:05] vanmatre commented on #51
Yes, there a number of requirements needed to get approval to have PHI on a server. I'll start looking into what we need to do. Till then I would advise not loading any PHI.

[2016-10-07 21:08] kshefchek commented on #51
Okay, I may be misunderstanding the requirements for this VM, but I do know we have a few of projects where we are starting to work with PHI, and it would be nice to utilize the resources on the monarch servers.  For example, the monarch-data-load would be an ideal candidate for this analysis once we move jenkins to Tartini.  @vanmatre thank you for looking into this!

[2016-10-07 21:30] cmungall commented on #51
What are the rules for doing this on EC2?

[2016-10-07 21:34] kshefchek commented on #51
We'll likely need to consult with the UDN/UDP to see if this is an option.

[2016-10-07 21:49] vanmatre commented on #43
A quick follow up and we got the external address assigned (137.53.238.117) so you should be able to access it externally at that address (http/s).

What shall we call it? I assume that you do not want to switch over monarch-data-load quite yet.

We can just use the address or some other temp name.

[2016-10-07 21:58] jnguyenx commented on #43
Yeah a temporary name is fine for now, we still need to do some work before
moving the domain name to it. tartini.monarchinitiative.org is good enough
for now.

Thanks!

On Fri, Oct 7, 2016 at 2:49 PM, vanmatre <notifications@github.com> wrote:

[2016-10-07 22:07] vanmatre commented on #43
OK tartini.monarchinitiative.org has been added to DNS.

[2016-10-07 22:22] jmcmurry commented on #43
yay, thanks! :)

[2016-10-07 23:27] vanmatre commented on #51
external access is assigned it should be in dns now and accessable

[2016-10-07 23:27] vanmatre commented on #50
externall address assigned, should be accessable now off site.

[2016-10-07 23:39] jnguyenx commented on #50
Cool! What's the address to reach that VM?

On Fri, Oct 7, 2016 at 4:27 PM, vanmatre <notifications@github.com> wrote:

[2016-10-10 16:35] vanmatre commented on #50
Tartini is at 10.95.40.105

10.95.40.125  monarch2-5 solr6-prod
10.95.40.126 monarch2-6 the other VM

They should be active in dns with the correct addresses.

I'm out today but will be checking email off and on so I can check up on most things.

--Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam J

[2016-10-10 16:45] jnguyenx commented on #50
Excellent, thanks!

Just a reminder to keep the googledocs up to date:
https://docs.google.com/spreadsheets/d/1VteU83L2rS9yHs6RlsUyZDf_-0inJ1IEfHt2FZqlNEM/edit#gid=1836081627

On Mon, Oct 10, 2016 at 9:35 AM, vanmatre <notifications@github.com> wrote:

[2016-10-11 03:21] jnguyenx commented on #50
There are some issues with server visibility, I can't use the temporary dns (i.e. monarch-solr6.dev.monarchinitiative.org) on the monarch-app-beta server, I'm forced to use the internal IPs for now.

I think that your internal DNS server needs to be updated.

[2016-10-11 17:27] vanmatre commented on #50
Hi,

 I took a look at the zone file and did discover a mis-type (exomizer was spelled with an s) but that does not change what you found.

I did log into monarch-app-beta and was able to log into monarch-solr6-dev. Is it a typo to call this machine monar-solr6.dev rather than monarch-solr6-dev?

I did reload the DNS zone file to be sure that any changes were active.

[2016-10-11 19:02] jnguyenx commented on #50
Yes it's a typo, but it does not matter for now.

Once on monarch-app-beta, I need to reach monarch-solr6-dev via the monarch
domain name, such as:
monarch-app-beta:~$ curl http://monarch-solr6.dev.monarchinitiative.org
curl: (6) Could not resolve host: monarch-solr6.dev.monarchinitiative.org

It works well with the old solr server:
monarch-app-beta:~$ curl https://solr-dev.monarchinitiative.org
.

[2016-10-11 19:03] vanmatre commented on #50
OK, good info. I'll check on what it could be.

[2016-10-11 21:18] pnrobinson commented on #50
?btw Exomiser and Genomiser are spellt with an "s" -- we chose the UK spelling!

-Peter

Peter Robinson

Professor of Computational Biology

The Jackson Laboratory for Genomic Medicine

10 Discovery Drive

Farmington, CT 06032

860.837.2095 t | 860.990.3130 m

peter.robinson@jax.org<mailto:peter.robinson@jax.org>

www.jax.org

The Jackson Laboratory: Leading the search for tomorrow's cures

______

[2016-10-12 17:30] jnguyenx commented on #50
Yes, exomiser with an S!

@vanmatre any update on the DNS view? It's a blocker to push things into production at the moment unfortunately.

[2016-10-12 17:41] vanmatre commented on #50
It is changed with an "s" - DNS caches can take a TTL time to refresh but should be timed out by now. (local cacheing too)

monarch-exomiser-prod

[2016-10-12 20:33] jnguyenx commented on #50
I mean any updates with the fact that we can't use monarch-solr6-dev external domain from monarch-app-beta?

[2016-10-12 20:52] vanmatre commented on #50
What do you mean by external domain? Can you cive a more detailed example

 That is to say I can reach monarch-solr6-dev from monarch-app-beta. This is over the internal network. I cannot reach it through the external address. This is part of the network design.

[2016-10-12 20:59] jnguyenx commented on #50
This example is still failing at the moment:

[2016-10-12 21:16] vanmatre commented on #50
evm@monarch-app-beta:~$ curl http://monarch-solr6.dev.monarchinitiative.org
curl: (6) Could not resolve host: monarch-solr6.dev.monarchinitiative.org
evm@monarch-app-beta:~$ curl http://monarch-solr6-dev.monarchinitiative.org
.......................................................................................^

What is the name of the host? With a - it resolved but does not serve any content.

[2016-10-12 21:21] jnguyenx commented on #50
Okay that's the other around outside OHSU network, http://monarch-solr6.dev.monarchinitiative.org resolves but http://monarch-solr6-dev.monarchinitiative.org does not.
That's normal if the server content is empty.

Sounds like the url needs to be fixed somewhere, GoDaddy I presume?

[2016-10-12 21:25] vanmatre commented on #50
Ah.... So the typo is that externally monarch-solr6.dev resolves and it should be monarch-solr6-dev. That would be my typo.

Poof, (orange smoke dissapates slowly) it is changed in godaddy to monarch-solr6-dev

[2016-10-12 21:47] jnguyenx commented on #50
That works better now! Thanks!

Our trouble are not done yet:
Can you please point solr-dev.monarchinitiative.org to this monarch-solr6-dev please?

[2016-10-12 22:28] vanmatre commented on #50
Done in both the internal DNS and Godaddy.

[2016-10-13 00:09] jnguyenx commented on #50
Perfect thank you! I'll ping you when we're ready to migrate the solr6 prod.

[2016-10-21 21:58] jnguyenx commented on #43
@vanmatre I migrated jenkins, can you switch the subdomain ci.monarchinitiative.org to monarch5 please?

[2016-10-21 22:10] vanmatre commented on #43
Changes made, should be good to go.

[2016-10-21 22:25] jnguyenx commented on #43
Thanks!

Let's keep monarch-data-load around for a bit in case there's an issue.

[2016-10-21 22:25] #43 closed

[2016-10-21 23:14] TomConlin commented on #43
note:
monarch-data-load is used for tasks other than serving jenkins so keeping it around would be good.

[2016-10-21 23:53] mellybelly commented on #47
pinging @cmungall so he knows this is here.
Especially with new R24 and Translator, we need to get right with our archiving.

[2016-10-22 00:39] TomConlin commented on #48
@vanmatre Hi Ethan, I note some of Monarch's other machines are now running 16.4;
keeping the development and production environments as close as possible gives me warm fuzzies.

[2016-10-24 21:37] vanmatre commented on #48
I have updated each VM and server to the current version of the initial OS load (14 or 16). Newer VM are created with 16 LTS.

I will be updating the 14 LTS OS to 16 LTS over the next 2 weeks. This will require reboots of the VM . There is a chance that the OS update will fail and turn the VM into a brick (note likely - but it does happen every once in a while).

Please advise me if there is a sys

[2016-10-24 21:40] vanmatre commented on #48
The first systems to be updated are the physical servers - Monarch1 through monarch4. This should have minimal impact (except for a reboot). Update most likely to happen Tuesday night or wednesday morning.

[2016-10-24 23:05] jnguyenx commented on #50
@vanmatre can you please switch solr.monarchinitiative.org to point to monarch-solr6-prod?

[2016-10-24 23:34] vanmatre commented on #50
solr.monarchinitiative.org now points to monarch-solr6-prod (both internal DNS and external DNS)

monarch-solr-prod still points to the solr VM and monarch-solr6-prod still points to the solr6 VM.

[2016-10-25 00:20] jnguyenx commented on #50
Awesome! Thanks!

[2016-10-25 00:20] #50 closed

[2016-10-25 00:20] jnguyenx commented on #49
Done and working!

[2016-10-25 00:20] #49 closed

[2016-10-25 00:21] jnguyenx commented on #37
Done on new monarch-solr6 VMs.

[2016-10-25 00:21] #37 closed

[2016-10-25 00:22] jnguyenx commented on #48
I wouldn't update the OS wildly like that, as you said there's a risk to stall our services.

In any case for the majority of the VMs we need a reinstall to have a disk space which can be stretched with LVM. That's a good opportunity to upgrade the OS at that time.

For physical servers I'll leave that up to you.

[2016-10-25 00:24] jnguyenx opened #52 "monarch-solr-dev and monarch-solr-prod decommissioning"
Now with the beta and prod running on the new solr6 machines, I don't think that we need those VMs anymore. As a safety measure we can make a snapshot and keep them around, even though I don't think that it is necessary.

[2016-10-25 00:24] jnguyenx commented on #43
@TomConlin what do you use it for?

[2016-10-25 00:45] jnguyenx commented on #46
Let's wait to upgrade the OS to 16.04, letsencrypt comes packaged with that version.

[2016-10-25 06:16] TomConlin commented on #43
when it is usable, everything.
transferring large amounts of data to/from my home net is slow so I try to keep routine volume processing on mondl.  note Kent Matt, Jim and JP also use mondl (monarch-data-load) for arbitrary data processing. KS & I each are using ~150G there now

[2016-10-25 15:24] jnguyenx commented on #17
@vanmatre it seems that @jmcmurry does not receive emails from info@monarchinitiative.org, nor @mellybelly.
Can you check that the address is valid to start with?

[2016-10-25 15:58] vanmatre commented on #17
@mellybelly  is not in the info list ( I will add her). We do need a list of peoples email addresses to populate each list.

@jmcmurry is in the list but it is pointing to a gmail email address. Since Yahoo, Gmail and other started to use strict DMARC mailman (our listserve) has had problems with Yahoo etc rejecting mailman emails.

I will have to check with the OHSU mailman folks to find out what

[2016-10-25 18:23] jnguyenx commented on #48
I wouldn't update the OS wildly like that, as you said there's a risk to
stall our services.

In any case for the majority of the VMs we need a reinstall to have a disk
space which can be stretched with LVM. That's a good opportunity to upgrade
the OS at that time.

For physical servers I'll leave that up to you.

On Mon, Oct 24, 2016 at 2:40 PM, vanmatre <notifications@github.com> wrote:

[2016-10-25 18:38] vanmatre commented on #48
Sounds good. I'll hold off on the update till it appears to be needed.

[2016-10-26 23:25] kshefchek commented on #51
@vanmatre we are going to consider alternatives to process PHI data (amazon, exacloud), so we can hold off on investigating requirements for the monarch servers.

[2016-10-26 23:26] vanmatre commented on #51
No problem - we can tackle that "hill" at a later date

[2016-10-27 16:13] jmcmurry opened #53 "Wire up greylog to include some solr logs"

[2016-10-31 20:04] kshefchek commented on #25
+1, have been using the monarch owlsim services and occasionally get periods of successive 502 responses.  Note I'm just hitting the server serially, no threading or async io.

[2016-11-03 18:48] jnguyenx commented on #48
VMs ready to be upgraded:

- monarch-mme-prod
- gray-log
- monarch-noctua-prod
- genome (@nathandunn are you fine with Ubuntu 16.04?)
- monarch-access
- monarch-data-load
- owlsim
- ns1 (?)
- vm1-openrif (?)

VMs that need reinstall for resizable disks support:

- neo4j
- scigraph-data-prod
- scigraph-data-dev
- scigraph-ontology-prod
- scigraph-ontology-dev
- monarch-ttl-prod
- owlsim3

We'll nee

[2016-11-03 20:21] vanmatre commented on #48
I'll see about scheduling the updates....

vm1-openrif is something that @essaids asked for.

ns1 is the internal DNS nameserver that makes internal addresses work.

I always loose track of the provision spreadsheet location. Thus updating it goes south.

[2016-11-03 21:23] vanmatre commented on #52
Monarch-solr-prod shutdown

Monarch-solr-dev shutdown

I'll keep the container file more or less forever....

[2016-11-03 21:23] #52 closed

[2016-11-03 21:27] #51 closed

[2016-11-03 21:27] vanmatre commented on #45
Moot

[2016-11-03 21:27] #45 closed

[2016-11-03 23:22] jmcmurry commented on #2
@vanmatre, please let's use a tab file in git instead.

[2016-11-04 16:41] jnguyenx commented on #48
Bookmark! :-)
https://docs.google.com/spreadsheets/d/1VteU83L2rS9yHs6RlsUyZDf_-0inJ1IEfHt2FZqlNEM/edit#gid=1836081627

On Thu, Nov 3, 2016 at 1:21 PM, vanmatre <notifications@github.com> wrote:

[2016-11-04 16:45] vanmatre commented on #48
Got a new "build" installed on my computer the other day. Somehow I lost all my bookmarks and account information (not the builds fault really) - of the joys of corporate security.

[2016-11-08 01:23] TomConlin opened #54 "ci machine reporting out of storage"
Jenkins fails

[code]

[2016-11-08 04:33] jnguyenx commented on #54
That happened quickly... I'm doing some tests for the golr loader and that
took a lot of disk space. I've deleted some files for now.

On Mon, Nov 7, 2016 at 5:23 PM, Tom Conlin <notifications@github.com> wrote:

[2016-11-08 19:01] kshefchek opened #55 "New VM request for Neo4j"
cc @markengelstad @mellybelly

We would like a new VM:
name: revelog
Ubuntu 16.04
4 cores
4GB
100GB disk space

Port 80 exposed

We will also need a new user for monarch-access (I can add if you would like) and with sudo priveleges on this VM:
username: engelsta

[2016-11-11 17:34] vanmatre commented on #55
revelog has been created and is available. Its internal address is 10.95.40.115. I have requested an external address with http and https open. I'll set up external DNS when the external address gets assigned.

New user engelsta has been created.

As always let me know if there are any problems.

--Ethan

[2016-11-14 19:50] vanmatre commented on #55
revelog.monarchinitiative.org (137.53.238.120/10.95.40.115) now has external access to http and https. Internal and external DNS is working. Ready for use.

[2016-11-15 23:04] #54 closed

[2016-11-15 23:27] jnguyenx commented on #48
@vanmatre can you please reinstall:
- scigraph-data-dev (need 200GB diskspace)
- scigraph-ontology-dev

with 16.04 and resizable disk?

[2016-11-15 23:51] vanmatre commented on #48
OK I'll put those on the next slot on the to do list. 200 GB each? My notes were looking at 500 GB

[2016-11-15 23:59] jnguyenx commented on #48
scigraph-ontology-dev still has a lot of free disk, no need to increase it.

scigraph-data-dev is almost full at the moment. If we have enough space,
500GB sounds good (remember that we'll have to increase it for prod as well
later on). In any case we'll be more flexible with lvm.

On Tue, Nov 15, 2016 at 3:51 PM, vanmatre <notifications@github.com> wrote:

[2016-11-19 00:04] vanmatre commented on #48
These 2 VM have been created and are in the local DNS. The names have had a "-a" appended to them till you are ready to go live with them then I will change the name and remove the -a.

scigraph-ontology-dev-a (10.95.40.136)    6 cores, 32GB, 512 MB
scigraph-data-dev-a (10.94.40.147)  6 cores, 64GB, 512 MB

Please be aware that I have oversubscribed the number of cores so shutting down the origina

[2016-11-19 04:13] jnguyenx commented on #48
@vanmatre thanks! I've just finished installing the services on those machines, can you please do the swap when you can?

While you're at it, can you create scigraph-ontology-prod-a and scigraph-data-prod-a? Same specs as the ones you just created.

[2016-11-21 19:21] markengelstad commented on #55
Fyi, I hope to begin (trying to) using this instance this week. Will keep
you updated .

On Mon, Nov 14, 2016, 11:50 AM vanmatre <notifications@github.com> wrote:

[2016-11-21 22:21] vanmatre commented on #48
The swap is done. Your new VM are at the old address and names (no -a) (don't forget that the ssh key has changed)

I'll see about the other 2 vm

[2016-11-21 22:44] jnguyenx commented on #48
Thanks, did you update the subdomain name as well in GoDaddy? I get weird stuff at the moment, my feeling is that the subdomains still point to the old VMs.

[2016-11-21 22:52] vanmatre commented on #48
The new VM took the addresses of the old vm so the DNS (internal and godaddy) addresses do not need to change. The ssh keys do need to be updated

[2016-11-21 22:57] jnguyenx commented on #48
Now it looks good, maybe some caches were present somewhere. Thanks!

[2016-11-21 22:58] vanmatre commented on #48
Yes, that was my thought too. Had we worried there for a moment....

[2016-11-22 00:20] vanmatre commented on #48
The new V have been created (using dhcp for their network addresses) but are not in DNS.

scigraph-ontology-prod-a is at 10.95.40.27
scigraph-data-prod-a is at 10.95.40.28

Feel free to load apps on them. Then I can swap them into position with the "normal" addresses.

Also let me know if you will need a DNS entry for access or if the addresses will work for now.

[2016-11-22 00:28] jnguyenx commented on #48
Thanks, that's perfect for now. I'll install them asap!

I guess that you're out for the rest of the week, enjoy thanksgiving!

[2016-11-28 10:31] TomConlin opened #56 "ci machine reporting out of storage #54 ... continued"
don't see an obvious way to reopen issue #54
but we are back to "No space left on device".

[code]

[2016-11-29 01:52] jnguyenx commented on #48
@vanmatre what's the procedure to upgrade the OS on the VM that don't need LVM (ie a reinstall)? You take care of it or can we just run the `do-release-upgrade` command?

[2016-11-29 16:37] vanmatre commented on #48
I have been doing the do-release-upgrade where possible. I tend to want to do that myself because sometimes it can go sideways and need some "hands-on".

Timing is everything - got one that you want me to do now?

[2016-11-29 16:48] TomConlin commented on #48
I'm working on monarch-dataload this morning, prefer it not get yanked from under me.
the ci machine (monarch5) has another 1.3 days on a job and should stay up

[2016-11-29 16:52] vanmatre commented on #48
That is exactly what I mean by timing - let everyone know that the machine will go down and that a new OS will be loaded with some things not working just as before.

I have no plans to bring any machine down at the moment.

[2016-11-29 17:48] jnguyenx commented on #48
@vanmatre Ok, in that case can you please upgrade monarch-app-beta? So we can test a bit in prevision of migrating monarch-app-prod with the new scigraphs prod, hopefully by the end of the week.

[2016-11-29 18:34] vanmatre commented on #48
Sure thing. Starting in a few moments.

[2016-11-29 20:08] vanmatre commented on #48
It is done. monarch-app-beta is running 16.04.1

[2016-11-29 21:01] jnguyenx commented on #48
Thanks! Note that I had to restart supervisor manually and restore the
nginx.conf. Otherwise it seems to work.

On Tue, Nov 29, 2016 at 12:09 PM, vanmatre <notifications@github.com> wrote:

[2016-11-30 22:43] jnguyenx commented on #48
We need to do a couple of fixes before upgrading monarch-app-prod, but I wanted to share my thoughts:

To avoid downtime, we can point monarchinitiative.org to monarch-app-beta, so we're free to upgrade monarch-app-prod and the two prod scigraph instances. And then when we're happy we can switch back the domain name.
Does it reasonable?

Is Friday a good day to do that for you?

[2016-11-30 23:46] vanmatre commented on #48
Friday would be fine for me.

Downtime for the upgrade is less than 30 minutes for the system side of things to Ubuntu 16.04.1 and if you can stand that much down time I could do the upgrades in the wee hours of the night/morning. This assumes that our major users are from the PST timezone.

Your choice.

[2016-11-30 23:55] jnguyenx commented on #48
It'll take a bit more time than that because I need to do some work on the
scigraph instances, like generate ssl certs, which I can only do once we
have moved the domain name.
I think that it's safer to play with the main domain name, things can go
wrong ;-)

Okay then, I'll ping you on Friday!

On Wed, Nov 30, 2016 at 3:46 PM, vanmatre <notifications@github.com> wrote:

[2016-11-30 23:55] vanmatre commented on #48
Friday it is. Till then

[2016-12-02 18:02] jnguyenx commented on #48
@vanmatre I think that we can start, here are the steps I had in mind:

1. Switch monarchinitiative.org to point to monarch-app-beta
2. Test if the site still works (there might be issues with http and https)
3. Upgrade OS on monarch-app-prod and switch scigraph-*-prod-a to replace the current ones
4. Test and generate the new certs for scigraph instances
5. Switch back
6. Enjoy the weekend

[2016-12-02 18:13] vanmatre commented on #48
Sure - remember that when switching DNS that there is a TTL lifetime before caches are updated. It will not effect a lot of accesses but it can be confusing.

Ready to begin?

[2016-12-02 18:21] jnguyenx commented on #48
Yep!

[2016-12-02 18:28] vanmatre commented on #48
monarchinitiative.org now points to the beta instance. There is a 500 second TTL.

[2016-12-02 18:33] vanmatre commented on #48
I can see the site from at least one offsite (of ohsu) and what little I see shows it working.

[2016-12-02 18:33] jnguyenx commented on #48
As I anticipated there are issues with certs, I'm looking into it.

[2016-12-02 18:36] jnguyenx commented on #48
Okay I made the site accessible without http, that's good enough for now I guess.

We can go on with the next steps!

[2016-12-02 18:37] vanmatre commented on #48
OK, I'll start the upgrade then do the other switch

[2016-12-02 19:06] vanmatre commented on #48
monarch-app-prod is now upgraded to 16.01.1

scigraph-data-prod-a is now active
scigraph-ontology-prod-a is now active

DNS still points to monarch-app-dev (let me know when to swap it back to prod)

[2016-12-02 19:12] jnguyenx commented on #48
The scigraph machines are still named with the -a at the end. Is that normal?

The dev ones have been fully renamed without the -a, it may be good to make things consistent.

[2016-12-02 19:15] vanmatre commented on #48
I'll rename them. I keep the -a so as to not get confused as to where I am in the shuffle (it takes about 4 windows each to coordinate the change over.. But of course now is the time to change it over.

[2016-12-02 19:39] jnguyenx commented on #48
Okay, I'm done on my side, can we try to switch back to monarch-app-prod and see what happens?

[2016-12-02 19:42] vanmatre commented on #48
Great, DNS is switched back.

[2016-12-02 19:59] jnguyenx commented on #48
Looks good! Thanks!

[2016-12-02 22:32] jnguyenx commented on #48
While you're at it, can we do a reinstall of owlsim3 (nothing is running on it at the moment) and gray-log (some things are running but you can just shut them down) with lvm and ubuntu 16.04?

[2016-12-03 00:08] vanmatre commented on #48
Sure, I'll see about that for Monday.

[2016-12-06 00:07] vanmatre commented on #48
The new VM are up and running. Did you want me to shutdown the existing VM and move these in place before you load then?

owlsim3 10.95.40.23
gray-log 10.95.40.27

[2016-12-06 00:12] jnguyenx commented on #48
Sure let's do the switch first, thank!

On Mon, Dec 5, 2016 at 4:07 PM, vanmatre <notifications@github.com> wrote:

[2016-12-06 00:29] vanmatre commented on #48
OK the old are off and the new are up and running. You all are in the sudo file.

[2016-12-06 00:33] jnguyenx commented on #48
Excellent, only a few VMs left to upgrade!

[2016-12-17 02:14] jnguyenx opened #57 "New VM api.monarchinitiative.org"
name: monarch-api
Ubuntu 16.04
2 core
2GB
20GB disk space

[2016-12-17 09:42] tudorgroza opened #58 "Subdomain request for the Monarch Journal Annotator"
Hi,

Can we please set up a subdomain for the Monarch Journal Annotator? (jannotator.monarch .... perhaps?)

Thanks,
T

[2016-12-19 00:33] jnguyenx commented on #58
Sure, where should it point to exactly?

[2016-12-19 13:53] julesjacobsen commented on #46
Is this meant to be a general purpose public FTP for people to download data from? Can I use this to publish Exomsier bundles from? If so is there a preferred place? e.g http://data.monarchinitiative.org/pub/ or doesn't it really matter?

[2016-12-19 23:44] vanmatre commented on #57
monach-api is up and running, in DNS, with accounts and sudo. Give it a try.

Let me know if you need external access or if there are port problems.

[2016-12-19 23:46] jnguyenx commented on #57
I can't ssh in, my username or pwd are not recognized.

On Mon, Dec 19, 2016 at 3:44 PM, vanmatre <notifications@github.com> wrote:

[2016-12-19 23:49] vanmatre commented on #57
Now try it

[2016-12-19 23:52] jnguyenx commented on #57
It works now, but it seems that the VM cannot access internet, for example
apt-get update does not work.

On Mon, Dec 19, 2016 at 3:49 PM, vanmatre <notifications@github.com> wrote:

[2016-12-19 23:55] vanmatre commented on #57
Took a second for our networking to figure the VM existed - I can now ping google.com and to an apt-get update/upgrade

[2016-12-19 23:59] jnguyenx commented on #57
Excellent! Thank you so much.

[2016-12-20 00:00] vanmatre commented on #57
Not a problem. Have fun

[2016-12-20 18:18] jnguyenx commented on #57
@vanmatre I think that I have DNS issues, I can't reach the machine with http://api.monarchinitiative.org/ or http://monarch-api.monarchinitiative.org/.

I do have a webserver running on port 80:

[code]

[2016-12-21 18:37] vanmatre commented on #57
Ah, outside access needed. I can readdress monarch-api to an address that has an existing outside IP assigned to it. This will cut a few days off getting an outside address assigned.

I can reboot it now if that will not cause any problems with the python script running

[2016-12-21 18:43] jnguyenx commented on #57
Sure go for it!

On Wed, Dec 21, 2016 at 10:37 AM, vanmatre <notifications@github.com> wrote:

[2016-12-21 18:48] vanmatre commented on #57
It is back up at the new address. The names have not changed...

I get a 502 Bad Gateway from nginx from outside the ohsu network. So it is at least responding on port 80.

Let me know what else is needed from my end

[2016-12-21 19:03] jnguyenx commented on #57
Cool! Can we also have api.monarchinitiative.org pointing to that server?

On Wed, Dec 21, 2016 at 10:48 AM, vanmatre <notifications@github.com> wrote:

[2016-12-21 19:15] vanmatre commented on #57
Done! the cname is active (api.monarchinitiative.org)

[2016-12-21 19:20] jnguyenx commented on #57
Thanks! I'll stop bugging you for this year, happy holidays!

[2016-12-21 19:20] #57 closed

[2016-12-23 00:34] TomConlin opened #59 "https://neo4j.monarchinitiative.org is flagged as insecure"
navigating to https://neo4j.monarchinitiative.org results in

[code]

This may not be much of an issue as
http:// works as expected
and we do not advertise neo4j

[2016-12-23 00:35] jnguyenx commented on #59
We use the port 443 for the Bolt access. I don't think that we'll add ssl
on this server.

On Thu, Dec 22, 2016 at 4:34 PM, Tom Conlin <notifications@github.com>
wrote:

[2016-12-23 01:34] TomConlin commented on #59
not surprised just wanted an issue to remind me next time I stumble on it

[2016-12-23 01:34] #59 closed

[2016-12-29 22:12] markengelstad commented on #55
Hi,

Our app is up and running on revelog VM.  We just need to know how to
direct an outside web request to our port 80....

What is the IP that we should direct to?

Will the Monarch server be using a proxy to forward web requests?

thanks!

On Fri, Nov 11, 2016 at 9:34 AM vanmatre <notifications@github.com> wrote:

[2017-01-03 17:27] vanmatre commented on #55
The site is revelog.monachinitiative.org and it appears that both port 0 and 443 are exposed but closed onthe server.

# nslookup revelog.monarchinitiative.org

Server: 192.168.1.1

Address: 192.168.1.1#53

Non-authoritative answer:

Name: revelog.monarchinitiative.org

Address: 137.53.238.120

# nmap revelog.monarchinitiative.org

Starting Nmap 5.51 ( http://nmap.org ) at 2017-01-03 09:20 PST

Nm

[2017-01-04 00:11] tudorgroza commented on #58
@jnguyenx - apologies for the delayed response. Please point it to: 43.240.98.24. Thanks.

[2017-01-06 01:14] jnguyenx opened #60 "ssl certs did not renew correctly on beta"
Letsencrypt have a new tool to renew certificate:
https://certbot.eff.org/docs/using.html#renewal

[2017-01-06 13:21] markengelstad commented on #55
Ethan,
Thank you.
We successfully started the app and its exposed on port 80.

Mark

[2017-01-06 18:53] TomConlin commented on #56
tomc@monarch5:~$ df -lh
Filesystem      Size  Used Avail Use% Mounted on
udev            111G     0  111G   0% /dev
tmpfs            23G   50M   22G   1% /run
/dev/sda3       1.1T  1.1T     0 100% /
tmpfs           111G  1.3M  111G   1% /dev/shm
tmpfs           5.0M     0  5.0M   0% /run/lock
tmpfs           111G     0  111G   0% /sys/fs/cgroup
/dev/sda1       232M  128M   88M  60% /boot
cgmfs

[2017-01-06 19:15] cmungall commented on #56
we we make dipper fail fast in these cases? Syntactically valid and truncated is a bad combo.

[2017-01-06 19:20] TomConlin commented on #56
I was just saying something to that effect to my cat (who obviously agrees)

[2017-01-06 19:24] jnguyenx commented on #56
That's annoying, I modified the dipper jobs on jenkins to keep only 1
build. We back them up on data.monarchinitiative.org anyway.

Let's see if it's better.

On Fri, Jan 6, 2017 at 11:20 AM, Tom Conlin <notifications@github.com>
wrote:

[2017-01-06 20:00] jnguyenx commented on #48
@vanmatre Happy new year! Let's kick off with some server upgrades, no reinstall for those, only an OS upgrade:

- monarch-mme-prod
- monarch-noctua-prod
- monarch-access
- owlsim
- genome

Let me know when you proceed, I'll keep an eye on them. Thanks!

[2017-01-06 23:58] jnguyenx commented on #60
certbot is still too alpha, will fallback on this: https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-16-04

[2017-01-09 21:51] mellybelly commented on #58
what is the status of this?

[2017-01-09 21:56] jnguyenx commented on #17
@vanmatre any updates on the address info@monarchinitiative.org? It seems that no one is currently checking it, which worries me.

Concerning the other lists, @jmcmurry should give you those info.

[2017-01-09 22:00] vanmatre commented on #58
Completed

[2017-01-09 22:00] vanmatre commented on #58
At least the DNS end of it is.

[2017-01-09 22:04] vanmatre commented on #17
I mostly handle any administrative needs of the lists and let @jmcmurry handle any "substance".

Yahoo, etc has great problems with mailman and simplelists. I think that yahoo wants to rule all mailing lists.

[2017-01-09 22:06] vanmatre commented on #48
Monarch-mme-prod is done

Monarch-access is done

Monarch-noctua is in progress but will be done RSN (real soon now)

I'll be heading out shoutly then pick up on owlsim and genome tomorrow.

[2017-01-10 00:23] jnguyenx commented on #60
Useful fix if upgrading from old letsencrypt configuration:

https://github.com/certbot/certbot/issues/2750#issuecomment-238983818

[2017-01-10 00:23] #60 closed

[2017-01-10 22:15] genome-one commented on #58
Up and running. Thank you!

[2017-01-10 22:17] genome-one opened #61 "Subdomain request for the PhenoPackets creator app"
Hi - can we please have phenotyper.monarchinitiative.org set up and pointing to 43.240.98.24?
Thank you.

[2017-01-10 22:18] #58 closed

[2017-01-10 22:21] vanmatre commented on #61
Done - Dns is set up for phenotyper

[2017-01-10 22:29] genome-one commented on #61
Working! Thank you!

[2017-01-10 22:31] vanmatre commented on #48
They have all been updates to 16.04 at this time. Check them out to be sure all is well.

--Ethan

[2017-01-10 22:32] jnguyenx commented on #48
Thanks will do!

On Tue, Jan 10, 2017 at 2:31 PM, vanmatre <notifications@github.com> wrote:

[2017-01-16 22:23] cmungall opened #62 "Make it easier to configure owlsim3 setup from jenkins config"
doesn't appear to be a way to modify the path to the startup yaml file

[2017-01-19 23:27] markengelstad commented on #55
Ethan, Ken,

The app is running, and I can access it view port 80, localhost:3000
I also have a neo4j instance running on localhost:7474
we are using nginx proxy to direct to one or the other.

So that we can see both, would it be possible create another URL = **revelogdev.monarch.org**?
open on 80 and 443

thanks for considering it.

Mark

[2017-02-01 18:46] jnguyenx commented on #62
Done through this https://github.com/monarch-initiative/owlsim-v3-config

[2017-02-01 18:46] #62 closed

[2017-02-01 18:46] #61 closed

[2017-02-02 23:55] jmcmurry commented on #47
@vanmatre Any update on this?

[2017-02-03 17:30] vanmatre commented on #47
To verify:

 This is a request to create a new VM named archive.monarchinitiative.org sized like monarch-ttl-prod?

[2017-02-03 18:35] TomConlin commented on #47
This is a request for a VM named archive.monarchinitiative.org not sharing hardware with monarch-ttl-prod.

monarch-ttl-prod now has:

    tomc@monarch-ttl-prod:~$ df -lh
    Filesystem      Size  Used Avail Use% Mounted on
    udev            2.0G  4.0K  2.0G   1% /dev
    tmpfs           396M  444K  395M   1% /run
    /dev/vda3       122G  102G   14G  88% /
    none            4.0K     0  4.0K

[2017-02-03 22:07] vanmatre commented on #47
archive is active (address 10.95.40.128) and is in the Monarch internal DNS.

Let me know if you need external (to the monarch servers) access to the machine and I will get the process going to assign an external address. Also if so I will need which ports to have opened..

[2017-02-03 22:21] TomConlin commented on #47
The outside world does need http/https access to archive.monarchinitiative.org
inside world should be able to ssh/scp

[2017-02-03 22:22] vanmatre commented on #47
OK, I'll get the request in to our netops folks. Takes a few days.

[2017-02-03 22:31] TomConlin commented on #47
That is great Ethan, thanks.

[2017-02-03 22:37] vanmatre commented on #47
You are welcome.

[2017-02-06 19:46] TomConlin commented on #48
monarch-data-load is up and running version 16.4  (yea!)

I do see reports of a stray file

    N: Ignoring file '50unattended-upgrades.ucf-dist' in directory '/etc/apt/apt.conf.d/' as it has an invalid filename extension

[2017-02-06 19:50] vanmatre commented on #48
Yes, That is a common leftover. I usually delete them. The upgrade installed a new version and renamed the old one by adding -dist.

Causes no problems but is annoying to be reminded about it.

I'll take care of it.

--Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97

[2017-02-06 23:54] vanmatre commented on #47
Archive now has an external address and has been added to the external DNS namespace.

It appears that http and https are open but archive is refusing connections.

[2017-02-07 02:09] TomConlin commented on #47
I am not sure archive has a http server installed yet. (do not think it does)

I was guessing we would go with nginx and data would live in

    /var/www/data/<release_datestamp>/
	analysis
	dev
	dipper
	dot
	exomiser
	golr
	owl
	previous        <**** will be archives initial contents
	pub
	service-scripts
	ttl

[2017-02-07 06:51] jnguyenx commented on #48
All VMs have been updated.

@vanmatre I'll let you take care of ns1 & vm1-openrif, as they're not directly used for Monarch's apps.

Thanks!

[2017-02-07 06:51] #48 closed

[2017-02-08 17:41] jnguyenx commented on #47
You have to install nginx yourself, you can refer to the ansible script from monarch-ttl-prod.

[2017-02-08 21:32] TomConlin opened #63 "monarch-data-load is reporting out of storage"
$ df -lh
    Filesystem      Size  Used Avail Use% Mounted on
    udev             63G     0   63G   0% /dev
    tmpfs            13G  8.7M   13G   1% /run
    /dev/vda3       993G  943G     0 100% /
    tmpfs            63G     0   63G   0% /dev/shm
    tmpfs           5.0M     0  5.0M   0% /run/lock
    tmpfs            63G     0   63G   0% /sys/fs/cgroup
    /dev/vda1       232M   93M  123M  43

[2017-02-08 21:34] jnguyenx commented on #63
Can you use /mnt/data to store data?

On Wed, Feb 8, 2017 at 1:32 PM, Tom Conlin <notifications@github.com> wrote:

[2017-02-09 03:32] cmungall opened #64 "http://api.monarchinitiative.org/ no longer reflects github master"
Recently I moved

https://github.com/monarch-initiative/biolink-api/

to

https://github.com/biolink/biolink-api

I then make a fork of biolink/biolink-api in monarch-initiative

The intent is that the monarch api instance should always reflect what in the monarch org repo

However, in doing this I obviously broke something, and api.monarchinitiative.org no longer reflects master. As an example, t

[2017-02-09 09:34] jnguyenx commented on #64
Done! You'll need to accept my PR https://github.com/biolink/biolink-api/pull/24, I had to modify the start script.

[2017-02-09 09:36] jnguyenx commented on #64
Actually I need to check the webhooks of the git repo as well, can you add me as admin please?

[2017-02-09 22:11] jnguyenx commented on #64
Should be all good!

[2017-02-09 22:11] #64 closed

[2017-02-16 04:37] nathandunn opened #65 "add bam / bigwig files to human data"
@jnguyenx

I was planning to add a bunch of bam and bigwig data to this server this week and update one of the JBrowse data settings.

Everything will be happening in the directory:

    /opt/jbrowse/data/

I don't think we'll need to redeploy (there should be no other code changes)

Do I need to do anything else?

[2017-02-16 07:41] cmungall commented on #65
context...

where are these files used? is this documented anywhere in the monarch-app docs?

[2017-02-16 15:18] nathandunn commented on #65
@cmungall  The files are used here:

https://genome.monarchinitiative.org/apollo/507/jbrowse/index.html

I think we'd also specified to have this running from [here](http://genomearchitect.github.io/communityservers/).

I don't think we need to touch anything for the ansible docs, but wanted to double-check.

Additionally, when @kltm or whomever adds the transcript viewer, this will be where they

[2017-02-16 18:48] nathandunn commented on #65
@cmungall  / @jnguyenx   We are looking to add 30 GB (BARE MINIMUM) to 120 GB.    Should I use /mnt/data/ (16 TB)? or just try to put only 30 GB's or so on the root volume (125 GB's available).

[2017-02-16 18:51] vanmatre commented on #65
Which specific server?

/mnt/data is really for large datasets. So, that is where I would think it should go.

--Ethan

[2017-02-16 18:52] nathandunn commented on #65
The specific server would be ```genome```.

[2017-02-16 18:57] vanmatre commented on #65
Looks good to me and with 16 TB on the partition (and only 120 GB on the VM root) you have room to grow. We can set permissions more restrictive as needed.

[2017-02-16 21:02] jnguyenx commented on #65
I would rather extend the root partition than using ```/mnt/data```. I don't think that the user permission are well configured. For example listing `/mnt/data` from another server returns different users and groups
[code]

[code]

So for that reason I would avoid having production data there. @vanmatre can you extend the root partition of genome of 100GB for example?

[2017-02-16 22:14] vanmatre commented on #65
The different groups is due to users being created without checking on their UID. Monarch-access "should" have all users initially created on it. This then forms the "master" uid database. I have been working on 2 things to solve this. The first is to change uid of users to match monarch-access as I have time to bring them inline. The second is to work on making a LDAP server for user authorizatio

[2017-02-16 23:04] kltm commented on #65
Not to get too weenie over this (but apparently will), the root partition should really not have variable datasets on it at all. Ideally, they live on a separate partition; so one could add a new partition with better controlled permissions. The reasons are generally I/O (if separate disks are used) and log/growth issues, that can shut down the core operations on a system if one is not careful.
(O

[2017-02-16 23:25] nathandunn commented on #65
So, the data should not be variable.  They are just static BAM and BigWig files.

The only variable is the database, which I believe is also on the root partition.  Overall the server isn’t really being slammed or anything.

Nathan

[2017-02-16 23:28] vanmatre commented on #65
Permissions were set up to allow easy startup. they can be tightened down. The physical hardware runs on a different disk partition that the data partition.

[2017-02-17 00:20] TomConlin commented on #47
archive.monarchinitiative.org  is live
http redirects to https (letsencrypt)
I did not make a https cert for www.archive. because it never existed
404's redirect to the root because we have produced a number of years worth of IRI
to files with embedded arbitrary dates (to the minute) which I do not have.

future IRI should look like  https://archive.monarchinitiative.org/201702/ttl/
which should w

[2017-02-17 00:20] #47 closed

[2017-02-17 02:06] TomConlin opened #66 "Wire up graylog to include some archive logs"
monitor archive's http logs in case things go south

[2017-02-17 09:36] jnguyenx commented on #65
@kltm thanks for the input. That's true that we're not really thorough about how we cut partitions on disks. It's even more hidden since we have this VM abstraction layer. Something to revisit in the future especially if we run into I/O performance issues.

@vanmatre I don't think that it's `/mnt/data` user permission is urgent to fix. We use it more as a storage for test data or temporary files.

[2017-02-17 16:34] vanmatre commented on #65
I'll give expansion a try. Even with LVM there is mixed results. First I'll clone off the VM so that we have a "backup".

[2017-02-18 23:50] TomConlin commented on #46
Hi @jnguyenx  data.monarchinitiative.org  is at 16.4 are you still planning to setup the letsencrypt cert

[2017-02-19 02:33] cmungall opened #67 "More biolink api oddities"
http://api.monarchinitiative.org/api

 1. A lot of the routes in the swagger UI don't open up when you click them. E.g the ones under /ontol/
 2. This gives a 502 http://api.monarchinitiative.org/api/ontol/subgraph/pato/PATO%3A0000058 (works on my local set up)

Note sure if these are related. 2 is the more serious. I suspect this is to do with the recent addition of cachier for persistent memoiza

[2017-02-21 03:46] cmungall commented on #67
Hmm, number 2 is now magically fixed. 1 is still an issue but this is annoying but less serious

[2017-02-21 03:47] cmungall opened #68 "Enable https for api"
This works:

http://api.monarchinitiative.org/api/ontol/subgraph/pato/PATO%3A0000058

This doesn't:

https://api.monarchinitiative.org/api/ontol/subgraph/pato/PATO%3A0000058

Required to get this to work:

https://biolink.github.io/biolink-graphviz-demo/

[2017-02-21 13:35] jnguyenx commented on #68
Do you want both http and https or https only?

I prefer https only, but keep in mind that it may become harder for people
to cope with https only, especially in java where the letsencrypt certs are
not shipped by default in the java distribution before version 7u111 or
8u101.

On Mon, Feb 20, 2017 at 7:47 PM, Chris Mungall <notifications@github.com>
wrote:

[2017-02-21 18:59] jnguyenx commented on #67
I don't really know for 1. I had a look a the logs, I copies the stacktrace at the end. For now the logs exist only on the VM at `monarch-api:/var/log/supervisor`, but I'll setup graylog for this service to centralize.

For 2, it's an encoding issue, probably from swagger or flask. Replacing the slash with a dash on this line solves the issue:
https://github.com/biolink/biolink-api/blob/master/bio

[2017-02-21 19:00] jnguyenx opened #69 "Setup graylog for monarch-api"

[2017-02-21 19:00] jnguyenx commented on #46
Yep, I'm wondering if we should support both http and https, or https only. Any thoughts?

[2017-02-21 19:41] TomConlin commented on #46
Much as I dislike abandoning a perfectly good tool (http)
I do not expect that we have population of users who will be
negatively impacted by our redirecting them to https.

[2017-02-21 21:38] cmungall commented on #68
https only

[2017-02-21 21:48] jmcmurry commented on #68
Agreed; the user base for this archive has to be reasonably adept anyway.

On Tue, Feb 21, 2017 at 1:38 PM, Chris Mungall <notifications@github.com>
wrote:

--
----------------------------------
mcmurry.julie@gmail.com +1 805 455 5877 skype: mcmurry.julie git: jmcmurry
----------------------------------

[2017-02-22 18:32] nathandunn commented on #65
I've started bringing data over (~350GBs) to:

    /mnt/data/Hg38Encode/ENCODE

I'll move it to the root or wherever you want whenever it is setup properly.

[2017-02-22 19:15] jnguyenx commented on #46
It should work now, I'll let you check please.

[2017-02-22 19:51] TomConlin commented on #46
It seems to work splendidly

[2017-02-22 19:51] #46 closed

[2017-02-22 21:32] jnguyenx commented on #68
Should be done now, I'll let you check.

[2017-02-22 21:44] #41 closed

[2017-02-27 04:54] jnguyenx commented on #65
@vanmatre any update on this issue?

[2017-02-27 15:17] cmungall commented on #68
Thanks!

[2017-02-27 15:17] #68 closed

[2017-02-27 15:19] cmungall opened #70 "Run with biolink api multiple worker threads"
From: http://gunicorn-docs.readthedocs.io/en/latest/design.html
'Generally we recommend (2 x $num_cores) + 1 as the number of workers to start off with'

I think means adding:

[code]

You'll need to add gevent to requirements.txt

Can alternately be done with multiple threads, e.g. `-w 10`, but I think the above is better

[2017-02-27 16:58] nathandunn commented on #65
I loaded the data to ```/mnt/data```   It is about 350 GB's.   I'm not sure if we'll want more, but this should go in the root partition the same as the other apollo data.   This is read-only data, so we should not have any issues with filling up this volume.

[2017-02-27 21:08] jnguyenx commented on #67
For 2, it works when the server is run locally. It's an encoding issue either at the nginx or the gunicorn layer.

[2017-03-01 15:26] vanmatre commented on #65
I've been burried with updates/rebuilds with our HPC cluster. I'll see about getting time to address expanding the VM disk.

[2017-03-08 01:14] jnguyenx opened #71 "Write playbook for monarch-archive"
I'm also wondering how you set up the letsencrypt renewal?

[2017-03-08 02:14] TomConlin commented on #71
renewal via
sudo mv letsencrypt_renew.sh /etc/cron.monthly/

[2017-03-08 02:45] jnguyenx commented on #71
Okay interesting, I'm using the letsencrypt which comes with 16.04, and
certbot is kinda whacky. I'm curious it that will work!

On Tue, Mar 7, 2017 at 6:14 PM, Tom Conlin <notifications@github.com> wrote:

[2017-03-10 19:39] jnguyenx commented on #67
See https://github.com/biolink/biolink-api/issues/30

[2017-03-10 19:39] #67 closed

[2017-03-28 16:09] julesjacobsen opened #72 "New VM request for exomiser-web-prod"
monarch-exomiser-web-prod
Ubuntu 16.04
8 cores
8GB
100GB disk space
Port 80 and 443 needs to be open.

This VM is for the monarch instance of exomiser-web.

[2017-03-28 16:10] julesjacobsen opened #73 "New VM request for exomiser-web-dev"
monarch-exomiser-web-dev
Ubuntu 16.04
8 cores
8GB
100GB disk space
Port 80 and 443 needs to be open.

This VM is for the monarch dev instance of exomiser-web.

[2017-03-28 20:37] vanmatre commented on #73
Working on it.

[2017-03-28 23:00] vanmatre commented on #73
monarch-exomiser-web-dev has been created - please log when you are ready.

--Ethan

[2017-03-28 23:04] jnguyenx commented on #73
Ethan, I don't know if it is related or if I should open another issue, but
I cannot ssh in the machines using the short names:

[code]

On Tue, Mar 28, 2017 at 4:00 PM, vanmatre <notifications@github.com> wrote:

[2017-03-28 23:06] vanmatre commented on #73
From where are you trying the short names? If locally on one of the monarch machines then the search primitive inthe resolver is likely not working.

--Ethna

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
______________________________

[2017-03-28 23:11] jnguyenx commented on #73
From monarch-access, you can see it from the snippet.

It seems that none of the short names are working, must be the resolved
which has some issues.

On Tue, Mar 28, 2017 at 4:06 PM, vanmatre <notifications@github.com> wrote:

[2017-03-28 23:12] vanmatre commented on #73
Looks like the local nameserver has failed. I'm looking into it.

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [notifications@github.com]
Sent: Tuesday, March 28, 2017 4:11 PM
To: monarch-

[2017-03-28 23:21] vanmatre commented on #73
Got it. should be working now. I just introduced a typo inthe zone file and it failed without an obvious error message.

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [notifications@github.

[2017-03-28 23:24] jnguyenx commented on #73
All good, thanks!

On Tue, Mar 28, 2017 at 4:21 PM, vanmatre <notifications@github.com> wrote:

[2017-03-28 23:25] vanmatre commented on #73
no problem!

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [notifications@github.com]
Sent: Tuesday, March 28, 2017 4:24 PM
To: monarch-initiative/monarch-devops
Cc: Ethan Van Matre; Commen

[2017-03-29 08:55] julesjacobsen commented on #73
I can access the machine, thanks for the speedy work.

[2017-03-29 08:55] #73 closed

[2017-03-29 18:15] kshefchek opened #74 "Set up jenkins job for scigraph load on AWS"
This will allow us to more easily update our aws instance of scigraph for the translator.  We will need to send our jenkins ssh key to NCATS.

@jnguyenx to dockerize the set up.

[2017-03-31 16:21] jmcmurry opened #75 "Let's encrypt certificates expiring 9 april"
Your certificate (or certificates) for the names listed below will expire in
9 days (on 09 Apr 17 23:04 +0000). Please make sure to renew
your certificate before then, or visitors to your website will encounter errors.

- scigraph-ontology.monarchinitiative.org
- scigraph-data.monarchinitiative.org
- genome.monarchinitiative.org

For any questions or support, please visit https://community.letsenc

[2017-03-31 16:59] vanmatre commented on #75
I'm poking around and do not see any installed certs or tools to install the certs.

QuestionS: Who was working on the certs and installed them? were these certs generated and never installed?

Inquiring minds want to know....

[2017-03-31 17:32] jnguyenx commented on #75
I installed and maintain those. I'll look into it, thanks!

On Fri, Mar 31, 2017 at 9:59 AM, vanmatre <notifications@github.com> wrote:

[2017-03-31 17:35] vanmatre commented on #75
Certbot can do auto-renew if that can work for you....

[2017-03-31 18:40] TomConlin commented on #75
Ubuntu 16.04 LTS certbot  may need tweaking they shipped an old agent

https://community.letsencrypt.org/t/solved-problem-renewing-certificate-with-certbot-ubuntu-16-04-apache-2-4-18/23813

[2017-03-31 19:10] jnguyenx commented on #75
Yeah I had issues with certbot before as mentioned in another issue https://github.com/monarch-initiative/monarch-devops/issues/71#issuecomment-284929964.

However I've just noticed that they have they own ppa now, I'll give it a shot!

[2017-04-03 21:07] jnguyenx commented on #75
I switched to Certbot to renew the certificate. In most of the cases it worked well: for a basic nginx configuration it went smoothly, but for more complex ones (as for monarch-ttl-data), it generated an invalid nginx conf, I manually had to fix it.

Some certs will expired on **June 10th**, @jmcmurry can you monitor the email box around **June 1st**, if we don't receive any notifications it means

[2017-04-03 21:09] jmcmurry commented on #75
sure; sounds good thanks

[2017-04-04 19:24] jnguyenx commented on #65
Any luck with this?

[2017-04-04 20:20] vanmatre commented on #65
No true luck yet. Expansion of the LVM disk is not actually an easy thing to do. I'll try again to see if I can make it work.

--Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portland, OR 97239
(503) 346-3764
vanmatre@ohsu.edu
________________________________
From: Jeremy [notifi

[2017-04-04 21:18] nathandunn commented on #65
K.  If the data in ```/mnt/data/Hg38Encode/ENCODE/``` is stable, that is probably fine for now.

[2017-04-07 20:44] jnguyenx opened #76 "VMs shuffling"
2 services will need proper dev and prod environment.

Rename, but keep domain name as it is:
[code]

new VMs, with *-dev.monarchinitiative.org domain name and same specs as the prod ones.
[code]

[2017-04-07 21:59] vanmatre commented on #76
OK, so to be sure what you want the steps are:

1) rename the VM api to api-prod
2) rename the VM owlsim3 to owlsim3-prod

3) create new VM api-dev
4) create new VM owlsim3-dev

5) DNS api-prod points to VM api-prod
6) DNS owlsim3-prod points to VM owlsim3-prod

7) DNS api CNAME points to api-prod VM
8) DNS owlsim3 CNAME points to owlsim3-prod VM

9) DNS api-dev points to api-dev VM
10) DNS owlsim

[2017-04-07 22:26] vanmatre commented on #76
I notice the the actual host name of api is monarch-api. Shall I change it to monarch-api-prod or to api-prod?

[2017-04-07 22:37] jnguyenx commented on #76
yes, you got it right!

oh ok, let's keep it with monarch-api then, I'll update the issue.

Thanks!

[2017-04-07 22:37] vanmatre commented on #76
Will do. I can do the renames and dns today and the new vm creation on monday,

[2017-04-07 22:38] jnguyenx commented on #76
That works, thanks.

[2017-04-07 23:03] vanmatre commented on #76
Internal and external DNS changes made and tested. Remember that your DNS reesolver may cache addresses for up to 4 hours or so.

I'll check my email later tonight just in case anyone discovers a problem and emails me with it (rather than take a full weekend to get to it).

[2017-04-07 23:35] jnguyenx commented on #76
From what I can tell, the renaming worked. Thanks!

On Fri, Apr 7, 2017 at 4:03 PM, vanmatre <notifications@github.com> wrote:

[2017-04-11 21:05] vanmatre commented on #76
owlsim3-dev and monarch-api-dev are up and ready to provision. They have internal (to ohsu) addresses. Do we need outside (of ohsu) access to then with ssh, http, https ?

[2017-04-11 21:06] jnguyenx commented on #76
Cool! Yes we'll need http and https please. Thanks!

On Tue, Apr 11, 2017 at 2:05 PM, vanmatre <notifications@github.com> wrote:

[2017-04-11 21:08] vanmatre commented on #76
I should note that the CPU are oversubscribed on the physical hardware. I have retired vm1-openrif (an unused vm) to free up a few cores.

I do not expect there to be a great impact because we rarely peg all of the cores.

[2017-04-11 21:09] vanmatre commented on #76
I'll get the request for setting up the external addresses going - it will take a few days. Till then you can access these VM from an ssh tunnel through monarch-access....

[2017-04-11 21:12] jnguyenx commented on #76
Perfect thank you!

On Tue, Apr 11, 2017 at 2:09 PM, vanmatre <notifications@github.com> wrote:

[2017-04-14 21:42] jnguyenx commented on #70
https://github.com/biolink/biolink-api/commit/f3dd413d3832750fb02f6c0d81cb9cdd45e69d4e

[2017-04-14 21:42] #70 closed

[2017-04-14 23:08] jnguyenx opened #77 "Spark + Zeppelin VMs"
**spark-master**
Ubuntu 16.04
2 cores
4GB
100GB disk space
Port 80 and 443 needs to be open.
spark-master.monarchinitiative.org

**spark-slave1**
Ubuntu 16.04
16 cores
64GB
1TB disk space
Port 80 and 443 needs to be open.
spark-slave1.monarchinitiative.org

**zeppelin**
Ubuntu 16.04
4 cores
8GB
1TB disk space
Port 80 and 443 needs to be open.
zeppelin.monarchinitiative.org

[2017-04-17 18:15] vanmatre commented on #77
Starting to work on this. Be aware that we are oversubscribed in CPU and memory.

[2017-04-17 20:41] cmungall commented on #74
@jnguyenx will you have time for this?

[2017-04-17 20:44] cmungall commented on #69
Who should take this over?

[2017-04-17 23:47] jnguyenx commented on #74
Yes I should be able to take care of that.

On Mon, Apr 17, 2017 at 1:41 PM, Chris Mungall <notifications@github.com>
wrote:

[2017-04-18 23:16] vanmatre commented on #77
These 3 VM have all been created, loaded into internal and external DNS, Users added and sudo set.

They should all be ready to go with external access to 80 and 443

External address have also been conigured for owlsim3-dev and monarch-api-dev.

Regards, Ethan

[2017-04-20 08:46] jnguyenx commented on #77
Thanks!

On Tue, Apr 18, 2017 at 4:16 PM, vanmatre <notifications@github.com> wrote:

[2017-04-20 17:54] vanmatre opened #78 "Develop list of who to notify when monarch is down and what to monitor"
I've created an uptime robot monitor for monarch. We had our first notification this morning.  It appears to work. Now we need to decide who needs to get the notifications and what else to monitor.

----

Hi,

The monitor monarch main (http://monarchinitiative.org) is currently DOWN (HTTP 502 - Bad Gateway).

Uptime Robot will alert you when it is back up.

Sincerely,

Uptime Robot
http://uptimero

[2017-04-20 17:57] kshefchek commented on #78
You can add me to the list of recipients.  The downtime this morning was expected but glad to know it was caught by uptime.

[2017-04-20 18:08] vanmatre commented on #78
I've added in your addess. I suspected that the downtime was anticipated - but good to have a test of the monitoring.

[2017-04-21 19:24] jnguyenx commented on #77
Note that `spark-slave1` is actually named `spark-slave`, not a big deal though.

[2017-04-21 19:24] #77 closed

[2017-04-21 19:25] vanmatre commented on #77
I can change that - shall I?

[2017-04-21 19:26] jnguyenx commented on #77
Hmmm I'm tempted... let's do it! So it'll be easier in the future to add numbered slaves.

[2017-04-21 19:31] vanmatre commented on #77
There, that should cover it. Now named spark-slave1

[2017-04-21 19:55] jnguyenx commented on #77
All good, thanks!

[2017-04-26 10:31] jnguyenx commented on #76
@vanmatre Can you add a subdomain api-dev.monarchinitiative.org to monarch-api-dev please?

[2017-04-26 12:22] jnguyenx commented on #78
Is there a generic email address we can use? Something like monarch-dev-alert@monarchinitiative.org? So I can also setup graylog to send alerts there.

[2017-04-26 15:50] jnguyenx commented on #9
gray-log.monarchinitiative.org

[2017-04-26 15:50] #9 closed

[2017-04-26 15:54] jnguyenx commented on #69
done

[2017-04-26 15:54] #69 closed

[2017-04-26 16:52] vanmatre commented on #76
I've added a CNAME record to the internal and external DNS servers. api-dev now points to monarch-api-dev.

--Ethan

PS

In domain namespace the leftmost part is the host name. monarchinitiative.org is the domain and monarch-api-dev.monarchinitiative.org is a FQDN (fully qualified domain name) where monarch-api-dev is the host name. We can create an "alias" in the form of a CNAME (cannonical name)

[2017-04-26 17:00] jnguyenx commented on #76
Awsome!

[2017-04-26 17:00] #76 closed

[2017-04-26 18:33] jnguyenx opened #80 "Spark + Zeppelin"
@mbrush

I had issues to install the whole stack at OHSU: Spark doesn't allow to start on a protected port (< 1024). Since OHSU only has 80 and 443 exposed, we need a TCP forwarder. I don't think that Nginx is fitted for that, haproxy is a better choice. I didn't want to introduce haproxy myself, since I won't be able to do the follow-up.
In the meantime, I've installed the whole stack on the slav

[2017-04-26 19:27] jmcmurry commented on #78
It would be better to set up a google group. OHSU managed @
monarchinitiative.org address are a recipe for pain.

On Wed, Apr 26, 2017 at 5:22 AM, Jeremy <notifications@github.com> wrote:

--
----------------------------------
mcmurry.julie@gmail.com +1 805 455 5877 skype: mcmurry.julie git: jmcmurry
----------------------------------

[2017-04-27 22:22] jmcmurry commented on #71
Hello,

Your certificate (or certificates) for the names listed below will expire in
19 days (on 17 May 17 21:48 +0000). Please make sure to renew
your certificate before then, or visitors to your website will encounter errors.

archive.monarchinitiative.org

For any questions or support, please visit https://community.letsencrypt.org/.
Unfortunately, we can't provide support by email.

For detail

[2017-04-27 22:23] jmcmurry commented on #75
Hello,

Your certificate (or certificates) for the names listed below will expire in
19 days (on 17 May 17 21:48 +0000). Please make sure to renew
your certificate before then, or visitors to your website will encounter errors.

archive.monarchinitiative.org

For any questions or support, please visit https://community.letsencrypt.org/.
Unfortunately, we can't provide support by email.

For detail

[2017-04-27 22:56] TomConlin commented on #75
@jmcmurry reopen and assign me please

[2017-04-28 21:27] TomConlin commented on #75
/boot on archive  is out of disk space

    /dev/vda1                     472M  439M  8.7M  99% /boot

cleaning out old  kernels

```sudo apt-get autoremove```

    /dev/vda1                     472M  152M  296M  34% /boot

[2017-04-28 21:45] TomConlin commented on #75
after making room on the root partition the monthly cron  succeeds

   sudo -H /etc/cron.monthly/letsencrypt_renew.sh
    ...
   - Congratulations! Your certificate and chain have been saved at
   /etc/letsencrypt/live/archive.monarchinitiative.org/fullchain.pem.
   Your cert will expire on 2017-07-27.

[2017-04-28 21:55] vanmatre commented on #75
Great catch,

 I usually run into this with updates. Autoremove tends to take out all the older kernels but I like to keep at least the last working kernel or 2 around....

There must be a switch to specify how many to keep.

--Ethan

Ethan VanMatre
Informatics Research Analyst
Institute on Development and Disability
Oregon Health & Science University
CSLU - GH40
3181 SW Sam Jackson Park Rd
Portla

[2017-04-28 22:07] TomConlin commented on #78
I am getting the alerts via  the ohsu outlook messaging system

[2017-05-01 17:57] cmungall opened #81 "Don't expose solr admin"
This is exposed:

https://solr.monarchinitiative.org/solr/#/

We should have an nginx config similar to GO

cc @DoctorBud @kltm